.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: fit-content;
  width: 100%;
  overflow: hidden !important;
  background-color: #f8f7ff;
  grid-template-areas: " content header";
}

.login-Space {
  display: flex;
  width: 100%;
}

.header {
  display: flex !important;
  flex-direction: column-reverse;
  background-image: url(../img/featured-img-9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  grid-area: header;

  grid-gap: clamp(10px, 1.4vw, 4rem);
}

.overline bold {
  display: flex;
  font-weight: 700;
}

.overline {
  font-size: clamp(0.98rem, 1.3vw, 2rem);
  line-height: clamp(1.3rem, 4vw, 5rem);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  /* color: #288369; */
  color: #5e50b2;
  font-family: "mulish", sans-serif;
  font-weight: 500;
  line-height: 100%;
}

.login-page .content {
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
  grid-area: content;
  overflow: hidden;
  overflow-y: scroll;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 6rem clamp(10px, 3rem, 96px);

  padding: 2rem;

  background-image: linear-gradient(white, white,rgba(255, 255, 255, 0)), linear-gradient(to top, #ffffff00, #c6adfb1d);
  border-radius: calc((32px) + (0.5vw));

}

.form-container .v-button-filled{

box-shadow: 0 3px 6px #5f50b28c;

box-shadow: rgba(95, 80, 178, 0.549) 0px 1px 2px 0px, rgba(95, 80, 178, 0.15) 0px 3px 3px 1px;
}

.form {
  display: flex;
  flex-direction: column;
  width: clamp(10vw, 50vw, 400px) !important;
}
.form-title {
  font-size: clamp(1.2rem, 1.9vw, 1.7rem);
  line-height: clamp(1.9rem, 2.5vw, 8rem);
  margin-bottom: 1rem;
  width: 100%;
  font-family: "mulish", sans-serif !important;
  font-weight: 900 !important;
}

.login-page .title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
}
.login-page h1 {
  display: flex;
  font-size: clamp(2.5rem, 3.4vw, 5rem);
  line-height: clamp(2.1rem, 3.8vw, 4rem);
  white-space: pre-wrap !important;
  width: fit-content;
}

.form .v-button-filled {
  width: 100% !important;
  max-width: calc(100%) !important;
}

.label {
  display: none;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-weight: 700;
  opacity: 0.6;

  font-size: 15px;
}

.input {
  border: 1px solid #dad6f5;
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.input::placeholder {
  color: var(--f7-theme-color-tint) !important;
  font-weight: 500;
  opacity: 0.6;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100%;
}

.checkbox-label .link {
  margin-left: 0px;
}

.checkbox-custom {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #dad6f5;
  border-radius: 5px;
  margin-right: 0.5rem;
  position: relative;
  padding: 4px!;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 10%;
  background-color: var(--f7-2ndry-theme-color-shade);
  transition: transform 0.1s ease-in-out;
}

.checkbox:checked + .checkbox-custom::after {
  transform: translate(-50%, -50%) scale(1);
}

.login-page .link {
  color: var(--f7-2ndry-theme-color-shade);
  text-decoration: none;
}

/* media query */

/* styles for tablet devices */
@media (min-width: 580px) and (max-width: 1055px) {
  .login-page {
    display: flex;

    flex-direction: column !important;

    width: 100%;

    overflow: hidden !important;

    background-color: #f3f1ff;
  }

  .login-page .header {
    
    padding-top: 170px;

    height: fit-content;
  }


  .login-page .content {
    align-items: flex-start;
    height: 100%;
    min-height: fit-content;
  }

  .login-page h1 {
    display: flex;
    font-size: clamp(2.1rem, 4vw, 5rem);
    line-height: clamp(2.5rem, 4.7vw, 10rem);
    white-space: pre-wrap !important;
    width: fit-content;
  }
}

/* styles for mobile devices */
@media (min-width: 370px) and (max-width: 579px) {
  .login-page {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    overflow: hidden !important;
    background-color: var(--v-lavender-plane);
  }
  .login-page .header {
    padding: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 144px;

    height: fit-content;
  }

  .overline {
    flex-direction: column !important;
    grid-gap: 5px;
  }
  .login-page .content {
    align-items: flex-start;
    height: 100%;
    min-height: fit-content;
  }
  .login-page h1 {
    display: flex;
    font-size: clamp(1.7rem, 5.8vw, 4rem);
    line-height: clamp(2.2rem, 6.4vw, 10rem);
    white-space: pre-wrap !important;
    width: fit-content;
  }

  .form .checkbox-label {
    font-size: clamp(0.5rem, 3.5vw, 1rem);
    line-height: clamp(1.9rem, 2.5vw, 8rem);
  }

  .form-container {
    margin: clamp(2.9rem, 9vw, 5rem) 0px !important;
    width: fit-content;
  }

  .form {
    width: clamp(10vw, 60vw, 400px) !important;
  }
}

/* styles for smallmobile devices */
@media (min-width: 200px) and (max-width: 369px) {
  .login-page {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    overflow: hidden !important;
    background-color: var(--v-lavender-plane);
  }
  .login-page .header {
    padding: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 120px;

    height: fit-content;
  }

  .overline {
    flex-direction: column !important;
    font-size: clamp(0.8rem, 0.6vw, 3rem);
    grid-gap: 3px;
  }
  .form-title {
    font-size: clamp(1rem, 5vw, 1.3rem) !important;
    line-height: clamp(1.9rem, 2.5vw, 8rem) !important;
  }

  .login-page .content {
    align-items: flex-start;
    height: 100%;
    min-height: fit-content;
  }
  .login-page h1 {
    display: flex;
    font-size: clamp(1rem, 7.2vw, 4rem);
    line-height: clamp(1.4rem, 8vw, 10rem);
    white-space: pre-wrap !important;
    width: fit-content;
  }

  .form .checkbox-label {
    font-size: clamp(0.4rem, 4.3vw, 1rem);
    line-height: clamp(1.9rem, 2.5vw, 8rem);
  }

  .form-container {
    margin: clamp(1.5rem, 7vw, 5rem) !important;
    padding: clamp(0.5rem, 7vw, 32px);
    width: 100%;
    border-radius: clamp(1rem, 5vw, 3rem) !important;
  }

  .form {
    min-width: 100% !important;
    width: clamp(10vw, 60vw, 400px) !important;
    font-family: "poppins" !important;
  }

  .form .label {
    font-size: clamp(0.5rem, 5.5vw, 1rem);
    line-height: clamp(1.9rem, 2.5vw, 8rem);
  }

  .form .input {
    font-size: clamp(0.5rem, 5.5vw, 1rem);
    line-height: clamp(1.9rem, 2.5vw, 8rem);
    padding: 8px 14px;
  }
}

/* styles for smallallestmobile devices */
@media (min-width: 1px) and (max-width: 260px) {
  .footer-Contents {
    display: none !important;
  }
  .v-splash-min-dlplay-size {
    display: flex;
  }
  .v-splash-min-dlplay-size .v-logo-wrapper h4 {
    font-size: 0.8rem !important;
    line-height: 100% !important;
  }
}
