/* Track */
::-webkit-scrollbar-track {
  margin-top: 0px;
}


.newsfeed-Space .full-page {
  display: flex;

  padding-top:0px;

}




.VLOGO {
  display            : flex;
  width              : 40px;
  height             : 40px;
  background-image   : url(../img/LOGO-DANIELA-14.svg);
  background-size    : contain;
  background-repeat  : no-repeat;
  background-position: center;
  align-items        : center;
  justify-content    : center;

  cursor: pointer;
}




.VLOGO-wrapper {

  display         : flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content : center;
  align-items     : center;
  padding         : 10px;
}

.newsfeed-Space {
  display       : flex;
  flex-direction: column;
  height        : 100vh;
  width         : 100%;
  justify-content: space-between;
}

.newsfeed-Zone{
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : 100%;
  justify-content: space-between;
}



.surface-wrap {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 100%;
  height          : 100%;
  background-color: var(--v-lavender-plane);
  padding         : 8px;

}

.feed-wrapper {
  display              : grid;
  height               : 100%;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  padding              : 0px !important;
  background-color     : #f7f7ff !important;
  grid-gap             : 8px;
 
}

.feed-scroll {

  display: flex;

  flex-direction: column;

  width: 100%;

  height: 100%;

  background-color: #f7f7ff;

  padding    : 8px;
  padding-top: 0px;


}

.page-name {
  display         : flex;
  width           : 100%;
  height          : 66px;
  border          : solid 1px var(--v-lavender-plane);
  background-color: #fefdff;
  border-radius   : 10px
}

.N-Header {

  display: flex;

  height: auto;

  width: 100%;

  background-color: #f7f7ff;
}

.Newsfeed-Left {
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
  border          : solid 1px var(--v-lavender-plane);
  border          : solid 1.5px var();
  background-color: #fefdff;
  border-radius   : 10px;
}


.Newsfeed-Right {
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
  border          : solid 1px var(--v-lavender-plane);
  background-color: #fefdff;
  border-radius   : 10px
}





@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/* animations */

.v-pressed {

  display: flex;
  width  : auto;
  height : auto;

  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);

}

.v-pressed:hover {

  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(103%);

}

.v-pressed:active {

  transition: all 0.18s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);

}


.nav-lnk i {
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : translate(0, 0);

  transition: scale 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);
}

.nav-lnk:hover i {
  transform: translate(0, -10%);

  transition: scale 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(110%);
}


/* asside bar */


.static-bar {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : 100%;
}

.collapsable-comp {
  display        : flex;
  position       : absolute;
  bottom         : 0;
  left           : 0;
  width          : auto;
  /* height      : calc(100% - 92px); */
  height         : auto;
  /* border      : solid 2px red; */
  align-items    : flex-end;
  justify-content: flex-start;
  margin-left    : 94px;
  margin-bottom  : 10px;
  padding        : 4px;
  overflow       : hidden;
}

.settings-modal {
  display         : flex;
  align-items     : flex-end;
  justify-content : center;
  background-color: #f7f7ff;
  border          : solid 1px #ffffff86;
  height          : 180px;
  width           : 150px;
  box-shadow      : rgba(165, 148, 243, 0.349) 0px -1px 0px 0px;
  border-radius   : 10px;
  overflow        : hidden;
  position        : relative;
  left            : -200px;
  transition      : all 1s cubic-bezier(0, 1.02, 0, 1.02);
}

.settings-modal.shown {
  left      : 0px;
  box-shadow: rgba(165, 148, 243, 0.26) 0px -1px 008px 0px;
  transition: all .5s cubic-bezier(0, 1.02, 0, 1.02);

}

.modal-btn {
  display: flex;
  width  : 100%;
}

.collapsable-comp .logout-button {
  padding      : 18px;
  border-radius: 0;
  width        : 100% !important;
  max-width    : 100% !important;

}


.SWAP-sidebar .nav-lnk .lnk-ico {

  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
  border-radius  : 4px;
  padding        : 10px;
  width          : 60px !important;
  aspect-ratio   : 1/1;
  text-decoration: none;
  color          : #362c6b;
  font-weight    : 800;
  font-size      : .75em;
}


.SWAP-sidebar .nav-lnk .lnk-ico i {

  display   : flex;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity   : .1;
}

.insights-btn {
  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;
}

.create-btn {
  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;
}

.settings-btn {

  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;

}



.SWAP-sidebar .nav-links {
  display        : flex;
  flex-direction : column;
  grid-gap       : 10px;
  height         : 100%;
  width          : 100%;
  justify-content: space-between;
  align-items    : center;
}

.SWAP-sidebar .bottom .nav-lnk {
  aspect-ratio   : 1/1 !important;
  display        : flex;
  width          : 60px !important;
  border         : solid 1px #ffffff00;
  border-radius  : .4em;
  transition     : all 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
  justify-content: center;
  align-items    : center;
  cursor         : pointer;
}


.SWAP-sidebar .bottom .nav-lnk:hover {
  border          : solid 1px #ebe7ffef;
  transition      : transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform       : translate(0, 0);
  background-color: #fefdff;

}

.SWAP-sidebar .bottom .nav-lnk:active {
  background         : #f7f7ff;
  background-position: center -100% !important;
  /* move the midpoint down by 30% */
  border             : solid 1px #ebe7ffcb;
}


.SWAP-sidebar .bottom .nav-lnk.active {
  border          : solid 1px var(--f7-theme-color-light-40);
  border-bottom   : solid 1px var(--f7-theme-color-light-40);
  transition      : transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform       : translate(0, 0);
  background-color: #fefdff;
}




.nav-links span {
  display       : flex;
  width         : 100%;
  flex-direction: column;
  grid-gap      : 10px;
  align-items   : center;
}

.nav-lnk span {
  display        : none;
  align-items    : center;
  justify-content: center;
  line-height    : 100%;

}

.nav-lnk:hover span {
  display: flex;
}



.SWAP-sidebar .bottom .lnk-ico .material-icons {

  font-size: 30px;

  opacity: .8;

  color: #5b50a8;
}

.SWAP-sidebar .bottom .nav-lnk:hover .material-icons {

  opacity: .7;
  color  : #5e50b2;

  background             : linear-gradient(to bottom, #60dbb8, #44397e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.SWAP-sidebar .bottom .nav-lnk:active .material-icons {

  opacity: 1;
  color  : var(--f7-theme-color);
}



.SWAP-navbar-wrapper {
  display       : flex;
  width         : 90px !important;
  flex-direction: column;
  height        : 100%;

  z-index: 999;
}

.SWAP-sidebar {

  display: flex;

  flex-direction: column-reverse;

  position: static;

  width: 100%;

  height: 100%;

  flex-direction: column;

  align-items: center;

  margin: 0px;

  border-radius: 0px;

  background-color: #f7f7ff;

  /* box-shadow             : 0px 1px 6px rgba(47, 29, 130, 0.15); */

  border-right: solid 1px var(--v-lavender-plane);

  -webkit-backdrop-filter: blur(25px);

  backdrop-filter: blur(25px);

  z-index: 999;

  align-content: center;
}

.top {
  display        : flex;
  width          : auto !important;
  height         : auto !important;
  padding        : 10px;
  border-bottom  : solid 1px var(--v-lavender-plane);
  justify-content: center;
  align-items    : center;
}

.SWAP-sidebar .bottom {
  display: flex;

  flex-direction: column;
  width         : 100%;
  height        : 100%;
  padding       : 10px;
  align-items   : center;
  grid-gap      : 10px
}







/* Create.css */

.create-Space {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  height         : 100%;
  /* border      : solid 1.5px #50b27630; */


}

.create-Space .surface-wrap {
  border-radius   : .5vw;
  /* box-shadow   : 0px 6px 20px 4px rgba(134, 105, 227, 0.095), 0px 2px 3px rgba(112, 98, 176, 0.05); */
  background-color: #ffffff;
  background-color: #c2b6ff46;

}

/* insight.css */

.insights-Space {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  height         : 100%;

  /* border: solid 1.5px #506ab230; */


}

.insights-Space .surface-wrap {
  border-radius   : .5vw;
  background-color: #ffffff;
}









/* mobile newsfeed layer  */


@media (min-width: 200px) and (max-width: 1060px) {

  .surface-view {
    flex-direction: column;
  }

  .static-bar {
    display       : flex;
    flex-direction: row;
    height        : 100%;
    width         : 100%;
  }

  .newsfeed-Space .full-page{
    flex-direction: column;
  }
  
  
  

  .collapsable-comp {
    display        : flex;
    position       : absolute;
    bottom         : 0;
    left           : auto;
    right          : 0;
    width          : auto;
    height         : auto;
    /* border      : solid 2px red; */
    align-items    : flex-end;
    justify-content: flex-start;
    margin-right   : 10px;
    margin-bottom  : 90px;
    overflow       : hidden;
  }

  .settings-modal {
    display         : flex;
    align-items     : flex-end;
    justify-content : center;
    background-color: #f7f7ff;
    border          : solid 1px #ffffff86;
    height          : 180px;
    width           : 150px;
    overflow        : hidden;
    position        : relative;
    left            : 200px;
    border-radius   : 10px;
    overflow        : hidden;
  }

  .settings-modal.shown {
    left: 0px;
  }




  .modal-btn {
    display: flex;
    width  : 100%;
  }

  .collapsable-comp .logout-button {
    padding      : 18px;
    border-radius: 0;
    width        : 100% !important;
    max-width    : 100% !important;

  }

  .SWAP-sidebar {

    display: flex;

    flex-direction: row;

    height: auto !important;

    border-top: solid 1px var(--v-lavender-plane);

  }

  .SWAP-sidebar .bottom {

    height: auto !important;
  }

  .top {
    width        : auto !important;
    height       : auto !important;
    padding      : 10px;
    border-bottom: solid 0px var(--v-lavender-plane);
    border-right : solid 1px var(--v-lavender-plane);
  }

  .SWAP-navbar-wrapper {

    width : 100% !important;
    height: auto !important;

    /* create a liner gradient white botop top transparent*/

    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);

    position: relative;
    bottom  : 0;

  }

  .SWAP-sidebar .nav-links {
    flex-direction: row;
  }


  .SWAP-sidebar .bottom .nav-lnk {

    height      : 60px !important;
    width       : auto !important;
    aspect-ratio: 1/1 !important;

  }

  .SWAP-sidebar .nav-lnk a {
    height      : 60px !important;
    width       : 60px !important;
    aspect-ratio: 1/1 !important;

  }


  .SWAP-sidebar .nav-links span {
    flex-direction: row;
    width         : auto !important;

  }




  /* newsfeed */

  .feed-wrapper {
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : 1fr 70px;
    grid-gap             : 8px;

    width: 100%;

  }

  .Newsfeed-Left {
    grid-row: 1 / span 1;
  }

  .Newsfeed-Right {
    grid-row: 2/ span 1;
  }




}



@media (min-width: 0px) and (max-width: 200px) {

  .surface-view {
    display: none !important;
  }
}