/* Track */
::-webkit-scrollbar-track {
  margin-top: 0px;
}

.newsfeed-Space .full-page {
  display       : flex;
  flex-direction: row-reverse;
  padding-top   : 0px;
}

.VLOGO {
  display            : flex;
  width              : 40px;
  height             : 40px;
  background-image   : url(../img/LOGO-DANIELA-14.svg);
  background-size    : contain;
  background-repeat  : no-repeat;
  background-position: center;
  align-items        : center;
  justify-content    : center;

  cursor: pointer;
}

.VLOGO-wrapper {
  display         : flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content : center;
  align-items     : center;
  padding         : 10px;
}

.newsfeed-Space {
  display            : flex;
  flex-direction     : column;
  justify-content    : space-between;
  /* background-image: linear-gradient(90deg, #faf8ff 5%, #ffffff79 10%); */
  /* background-color: #ffffff5d; */
  background-color   : #ffffff7e;
}

.newsfeed-Zone {
  display        : flex;
  flex-direction : column;
  height         : 100%;
  width          : 100%;
  justify-content: space-between;
  overflow       : hidden;
}

.feed-wrapper {
  display              : grid;
  height               : 100%;
  width                : 100%;
  grid-template-columns: 1.3fr 2fr;
  padding              : 0px !important;
  padding-top          : 12px !important;
  gap                  : 20px;
  justify-content      : end;
  justify-items        : end;
}

.feed-scrollHead {
  display : flex;
  position: sticky;
  top     : 0px;
  height  : fit-content;
  width   : 100%;
}

.feed-scrollHead .v-form-header {
  display         : flex;
  border-radius   : 0px !important;
  padding         : 23px;
  border-bottom   : 1px solid var(--v-lavender-plane);
  height          : auto;
  width           : 100%;
  background-color: #f8f7ff;
  box-shadow      : rgba(255, 255, 255, 0.5) 0px 20px 070px 0px;
  justify-content: space-between;
  align-items     : center;
}

.feed-scroll .v-form-header h1 {
  display    : flex;
  font-size  : clamp(1.3rem, 2vw, 1.5rem);
  line-height: clamp(1.6rem, 2.6vw, 2.1rem);
  white-space: nowrap;
  width      : auto;
  color: #584c92;
  padding-left: 4px;
  font-weight: 750 !important;
  opacity: .9;
}

.feed-scroll {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  height        : 100%;
  padding       : 20px;
  padding-top   : 0px;
  overflow      : hidden;
}

.page-name {
  display         : flex;
  width           : 100%;
  height          : auto;
  border          : solid 1px var(--v-lavender-plane);
  background-color: #faf8ff;
  border-radius   : 16px;
  padding         : 16px;
  padding-left    : 20px;
  align-items     : center;
}

.page-name h2 {
  font-size     : clamp(1em, 1.3vw, 1.2rem) !important;
  line-height   : 100%;
  white-space   : nowrap;
  flex-direction: row;
  font-weight   : 750 !important;
  color: #675c9c !important;
}

.page-name h2 i {
  padding-top    : 1px;
  text-decoration: none;
  font-style     : normal;
}

.page-name h4 {
  font-size  : clamp(.8em, .6vw, 1rem) !important;
  color      : var(--f7-2ndry-theme-color-DRKshade);
  font-weight: 700;
  opacity    : .8;
  line-height: clamp(1.2em, 1.9vw, 1.2rem) !important;
}


.top-Left {
  display    : flex;
  width      : 100%;
  height     : fit-content;
  align-items: center;
}

.top-Left span {
  display       : flex;
  flex-direction: column;
  height        : fit-content;
  width         : auto;
  align-items   : flex-start;
  gap: 2px;
}

.top-Right {
  display        : flex;
  width          : 100%;
  justify-content: flex-end;
}

.top-Right span {
  display       : flex;
  flex-direction: row;
  height        : auto;
  width         : auto;
  align-items   : center;
  gap           : 7px;
  margin        : 0px !important;
  padding       : 6px !important;
  padding-left  : 8px !important;
}

.Uuser,
.Uico {
  display    : flex;
  height     : fit-content;
  align-items: center;
}

.page-name .material-symbols-outlined {
  font-variation-settings:
    'FILL'1;
  display         : flex;
  font-size       : 20px !important;
  color           : var(--f7-theme-color);
  padding         : 4px;
  background-color: #f0edffb4 !important;
  border-radius   : 50% !important;
}


.Uuser {
  padding-top: 2px;
}

.Uuser h2 {
  font-weight: 600 !important;
  ;
}

.N-Header {
  display       : flex;
  height        : auto;
  width         : 100%;
  padding-top   : 12px !important;
  padding       : 20px;
  padding-bottom: 0px;
}

.Newsfeed-Left {
  display            : flex;
  flex-direction     : column;
  width              : 100%;
  height             : 100%;
  border             : solid 1px var(--v-lavender-plane);
  border-radius      : 16px;
  /* background-color: #faf8ff7a; */
  /* background-color: #faf8ff; */
  /* background-image: linear-gradient(180deg, #faf8ff 0%, #fefdfff1 100%); */
  overflow           : hidden;


}

.Newsfeed-Right {
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
  border          : solid 1px var(--v-lavender-plane);
  background-color: #4f09ff00;
  border-radius   : 16px;
  overflow        : hidden;
}

.Quick-survey:hover {
  box-shadow: 0px 0px 0px 1px #61d8b63a;
}

.Newsfeed-Left:hover {
  box-shadow: 0px 0px 0px 1px #aa7cf53a;
}

.Newsfeed-Right .v-form-header {
  display        : flex;
  justify-content: space-between;
  gap            : 10px;
  border-radius  : 0px;
  padding        : 23px;
  border-bottom  : 1px solid #ebe8ff !important;
  height         : auto;
}

.Newsfeed-Right .v-form-header .material-symbols-outlined {
  padding: 4px;
}

#hamburgSpan {
  display        : flex;
  width          : 100% !important;
  justify-content: flex-start;
  height         : fit-content;
}

.material-symbols-outlined {
  cursor: pointer;
}

.tabs {
  display         : flex;
  justify-content : space-between;
  width           : 100%;
  padding         : 10px;
  gap             : 10px;
  border-bottom   : solid 1PX #ebe8ff82;
  background-color: #f4fafc96;
}

.tab {
  display         : flex;
  flex-direction  : row-reverse;
  background-color: #ddd;
  background-color: #ffffff41;
  border          : solid .5px #2a66551e;
  border-radius   : 6px;
  padding         : 6px 6px;
  padding-left    : 13px;
  cursor          : pointer;
  width           : 100%;
  height          : 49px;
  transition      : all 0.5s cubic-bezier(0, 1.02, 0, 1.02);
  align-content   : center;
  align-items     : center;
  gap             : 7px;
  justify-content : space-between;
}



.tab:hover {
  border          : solid 1px #2a6655;
  background-color: #ffffff;
  transition      : all 0.5s cubic-bezier(0, 1.02, 0, 1.02);
}

.tab:active {
  background-color: var(--f7-2ndry-theme-color-DRKshade) !important;
  transition      : all 0.5s cubic-bezier(0, 1.02, 0, 1.02);
}

.tab:active .material-symbols-outlined {
  color: #ffffff !important;
}

.tab:active p {
  color: #ffffff !important;
}


.tab:focus {
  background-color: var(--f7-2ndry-theme-color-DRKshade);
  transition      : all 0.1s cubic-bezier(0, 1.02, 0, 0.57);
}

.tab:focus .material-symbols-outlined {
  color: #317763;
}


.tab.focus {
  transition      : all 0.5s cubic-bezier(0, 1.02, 0, 1.02);
  border          : solid 1px #317763bb;
  border-bottom   : solid 3px #317763 !important; 
  background-color: #fafffe85;
}

.tab.focus p,
.tab:focus p {
  color      : #317763;
  font-weight: 800 !important;
}

.tab:focus .material-symbols-outlined,
.tab.focus .material-symbols-outlined {
  color: #317763;
}


#initial-content {
  display        : flex;
  flex-direction : column;
  height         : 100%;
  width          : 100%;
  justify-content: center;
  align-items    : center;
}

#initial-content p {
  display    : flex;
  color      : #2A6655;
  text-align : center;
  font-size  : 0.86rem;
  opacity    : .7;
  font-weight: 700 !important;
}

.guide-arrow {
  display: flex;
  width  : clamp(180px, 20vw, 250px);
  opacity: .3;

}


.tab p {
  display        : flex !important;
  align-items    : center !important;
  justify-content: flex-start;
  color          : #2A6655;
  font-weight    : 600 !important;
  font-size      : clamp(.85rem, 3.4vw, .8rem) !important;
  line-height    : fit-content !important;
  white-space    : nowrap;
}

.tab .material-symbols-outlined {
  display     : flex !important;
  width       : 33px !important;
  aspect-ratio: 1/1 !important;

  font-size      : 30px !important;
  color          : #2A6655 !important;
  padding        : 0px;
  align-items    : center;
  justify-content: center;
}

.tab-content {
  display   : none;
  width     : 100%;
  height    : 100%;
  padding   : 0px;
  border-top: 0px solid #ff0000;
  gap       : 12px;

  overflow: hidden;
}

.tab-content h2 {
  scale: 1.1;
}


#multiple-choice-tab .material-symbols-outlined {
  font-size: 23px !important;

}


/* Table Styles */
table {
  display        : flex !important;
  width          : 100%;
  height         : 100%;
  border-collapse: collapse;
  margin-bottom  : 0px;
  align-items: flex-start;
  justify-content: center;
}

tbody {
  display              : grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows       : auto;
  grid-gap             : 15px;
  width                : 100%;
  height               : auto;
  grid-auto-flow       : dense;
  width                : 100%;
  height               : auto;
  gap                  : 10px;
  padding              : 10px;
  transition: grid-template-rows 0s;
  align-content: start;
}


#data-surface {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  height        : 100%;
  padding       : 0px;
  padding-top   : 0px;
  overflow      : overlay !important;
  overflow      : hidden;
  overflow-y    : scroll;
}

td {
  display        : flex;
  flex-direction : row;
  padding        : 0px !important;
  width          : 100% !important;
  height: auto;
  border-radius  : 0px;
  justify-content: flex-start;
  gap            : 10px;
}

.feed-head {
  display        : flex;
  width          : 100%;
  justify-content: space-between;
  align-items    : center;
}

.feed-head .material-symbols-outlined {
  display     : flex;
  width       : 33px !important;
  font-size      : 20px !important;
  padding        : 0px;
  align-items    : center;
  justify-content: center;
}

.feed-head label {
  width: fit-content;
  display: flex;
  justify-content: center;
  font-weight: 750;
  opacity: .7;
}

.feed-paragraph {
  display: flex;
  width  : 100%;
  height : 100% !important;
  padding: 16px;
  align-items: flex-start;
  flex-direction: column;
  gap: 22px;
  justify-content: flex-start;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 100%, 0.478);
}


#response-space{
  display: none;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px !important;
  height: 100%;
  overflow-x:hidden ;
  overflow-y: scroll !important;
  overflow:overlay !important;
}

#response-space .surv-dwn{

  position: sticky;
  bottom: 0;
  z-index: 500 !important;
}



.survey-discrip{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  /* margin-bottom: 10px; */
  background-color: #f6fffc;
  border-top: solid 1px #4978693d;
  border-bottom: solid 1px #4978693d;
  padding-left:28px;
}





.survey-discrip label{

color: #2A6655;

font-size       : 14px !important;

display         : flex;

border-radius   : 8px 8px 0px 0px;

justify-content: space-between;
}

 .descript label{
  opacity         : 0.8;
  font-size       : 14px !important;
  display         : flex;
  padding         : 4px;
  padding-left    : 10px;
  padding-right: 10px;
  padding-top     : 4px;
  padding-bottom  : 4px;
  border          : 1px solid #ebe8ff !important;
  background-color: #f1f0fd !important;
  border-radius   : 8px 8px 0px 0px;
  /* color        : #ffffff; */
  justify-content: space-between;
}
.response-top{
  display: flex;
  gap: 0px;
  flex-direction: column;
  height: 100%;
}

.response-btm


#response-space .tabs{
  padding: 0px !important;
}
#response-space .tab{
  height: fit-content !important;
}

#response-space .descript{
  display: flex;
  height: 100% !important;
  padding: 20px;
}

.feed-paragraph span .material-symbols-outlined {
  padding: 0px !important;
  color: #918bb1 !important;

}

.ractions{

display: flex;

gap: 6px;

justify-content: flex-end;

width: 100%;

flex-direction: row-reverse;
}

#v-open #v-closed #v-published, .ractions .material-symbols-outlined {
  padding: 0px !important;
  color: #918bb1 !important;
  font-size: 22px !important;
  margin-top: 4px !important;
  
}

#v-open .ractions {
  position: relative;
  left: -2px;
  
}

.ractions label{
  display: flex;
  justify-content: flex-start !important;
  font-size: 13px !important;
  align-items: center !important;
}

.ractions p{

padding: 0px !important;

color: #938eb8 !important;
opacity: 1 !important;
}


#feed-pg{
  display: flex;
  height: 100%;
}

.label-parent {
  display: flex;
  flex-direction: row;
  background-color: rgb(252 243 240 / 23%);
  width: 100%;
  height: 54px !important;
  align-items: center;
  padding: 16px !important;
  justify-content: space-between;
  border-top: solid 1px #feeadb;
}

.state-closed {
  
  color: #da792b !important;

  padding: 0px !important;
  border-radius: 5px;
  font-size: 13.5px !important;
  font-weight: 700;
}
.state-active {
  color: var(--f7-2ndry-theme-color-DRKshade);
  border-radius: 5px;
  font-size: 13.5px !important;
  font-weight: 700;
}
.state-published {
  
  color: var(--f7-theme-color);
  font-size: 13.5px !important;
  font-weight: 700;
}

.v-closed .head-header P {
  color: #db7f35 !important;

  filter: brightness(.7);
  opacity: .6
}

.v-active .head-header P {
  color: #3b7d6a !important;

  filter: brightness(.7);
  opacity: .6
}

.v-published .head-header P {
  color: #6456b5 !important;

  filter: brightness(.7);
  opacity: .6;
}

.v-active {

border-top: solid 1px #dbf0e5;
background-color: rgba(240, 252, 243, 0.2) !important;
}

.v-published {
  border-top: solid 1px #9d8eff50;
  background-color:#8a7fc70a;
}

.v-published .material-symbols-outlined {
  color: #6456b5 !important;
  font-size: 24px !important;
}

.v-active .material-symbols-outlined {
  color: #3b7d6a !important;
  font-size: 22px !important;
  transform: scaleX(-1);
}

.feed-head .material-symbols-outlined {
  color: #db7f35 ;
  font-size: 20px;
  opacity: .7;
}




/* Label Styles */
label {
  display    : flex;
  font-weight: 800;
  font-size  : 16px;
  color      : var(--f7-theme-color-shade);
}

.head-header p {
  display    : flex;

  font-size  : 13px;
  font-weight: 800;
  color      : var(--f7-theme-color-muted) !important;
  opacity    : .6;
}


tr {

display         : flex;
flex-direction: column-reverse !important;
flex-direction  : column;
cursor          : pointer;
height          : 100%;
width: 100%;
border          : solid 1px #e0dbff;
border-radius   : 10px;

/* cosmetics-will finish later border: double 1px transparent;
background-origin: border-box;
background-clip: content-box, border-box;
background-color: #ffffff1f; */
/* padding-bottom  : clamp(0%, 3vw, 100px); */

overflow        : hidden;
justify-content: flex-end;
-webkit-tap-highlight-color: transparent !important;

}

.newsfeed-Zone, textarea input{
  outline: none !important;
  border: 1.7px solid #ebe8ff !important;

}

.newsfeed-Zone textarea input, :focus {
  outline: none !important;
  border: solid 1.7px #2d9762b9 !important;
  z-index: 2;
}

.v-written,.v-opt{
  display: flex;
}

.v-opt .material-symbols-outlined{
  margin-top: 3px !important;
  font-size: 20px !important;
}

#data-surface tr.expanded-row:hover {
  box-shadow: rgba(165, 148, 243, 0) 0px 2px 1px 0px !important;
}

tr span {
  display: flex;
}

.v-title{
  display: flex;
  flex-direction: column;
  gap:8px;
  width: 100%; 

}

.v-user h6{
  color: var(--f7-2ndry-theme-color-DRKshade) !important;
  border-radius: 5px;
  font-size: 14.5px !important;
  font-weight: 800;
  opacity: .7 !important;
  margin: 0px !important; 
  line-height: 100%!important;

}



tr:hover {
  background-color: rgb(245 244 255);
  box-shadow: rgb(165, 148, 243) 0px 2px 001px 0px !important;
}

tr.recently-closed{
  background-color: rgb(245 244 255);
  box-shadow: rgba(165, 148, 243, 0.26) 0px 2px 001px 0px;
}

.feed-paragraph h1 {
  display    : flex !important;
  margin     : 0px;
  width: clamp(40%, 90%, 100%);
  font-size  : 16px;
  line-height: 130%;
  font-weight: 800;
  color      : var(--f7-theme-color-muted);
  opacity    :1;
  justify-content: flex-start;
  white-space: pre-wrap;
}
.feed-paragraph span label {
  display: flex;
  border-radius: 5px;
  font-size: 13.5px;
  height: 26px ;
  font-weight: 800;
  opacity: .6;
  width: 100% !important;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-end;
}
.feed-paragraph span {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: solid 1px #e0dbff;
  padding-bottom: 4px;
}

/* ACTION BUTTONS */

#data-surface.expanding > table > tbody {
  grid-template-rows: 1fr;
  height: 100%; /* set height to 100% when expanding */
}
/* Ensure the expanded row takes up both columns of the griFvd */
.expanded-row {
  grid-column: span 3;
  
  /* Add transition for grid-column */
}

/* Hide all rows of the table when one row is expanded */
#data-surface.expanding > table > tbody > tr:not(.expanded-row) {
  display: none;
}

.expanded-row #response-space {
gap:0px;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* animations */

.v-pressed {
  display: flex;
  width  : auto;
  height : auto;

  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);
}

.v-pressed:hover {
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(103%);
}

.v-pressed:active {
  transition: all 0.18s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);
}

.nav-lnk i {
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : translate(0, 0);

  transition: scale 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(100%);
}

.nav-lnk:hover i {
  transform: translate(0, -10%);

  transition: scale 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform : scale(110%);
}

/* asside bar */

.static-bar {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : auto;
}

.collapsable-comp {
  display           : none;
  position          : absolute;
  bottom            : 0;
  left              : 0;
  width             : auto;
  height            : calc(100% - 99px);
  /* height         : auto; */
  /* border         : solid 2px red; */
  align-items       : flex-end;
  justify-content   : flex-start;
  margin-left       : 102px;
  margin-bottom     : 8px;
  padding           : 10px;
  overflow          : hidden;
}

.settings-modal {
  display         : flex;
  align-items     : flex-end;
  justify-content : center;
  background-color: #fefdff;
  border          : solid 1px #ffffff86;
  height          : 100%;
  width           : 224px;
  box-shadow      : rgba(165, 148, 243, 0.349) 0px -1px 0px 0px;
  border-radius   : 10px;
  overflow        : hidden;
  position        : relative;
  left            : -200px;
  opacity         : 0;
  transition      : all .3s cubic-bezier(0, .89, .23, .99);
  transition      : opacity .10s cubic-bezier(0, .89, .23, .99);
}

.settings-modal.shown {
  left      : 0px;
  opacity   : 1;
  box-shadow: rgba(165, 148, 243, 0.26) 0px -1px 011px 0px;
  transition: all 0.5s cubic-bezier(0, 1.02, 0, 1.02);
}

.modal-btn {
  display: flex;
  width  : 100%;
}

.collapsable-comp .logout-button {
  padding      : 18px;
  border-radius: 0;
  width        : 100% !important;
  max-width    : 100% !important;
}

.SWAP-sidebar .nav-lnk .lnk-ico {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
  border-radius  : 4px;
  padding        : 10px;
  width          : 100% !important;
  height         : 100% !important;
  aspect-ratio   : 1/1;
  text-decoration: none;
  color          : #362c6b;
  font-weight    : 800;
  font-size      : 0.75em;
}

.SWAP-sidebar .nav-lnk .lnk-ico i {
  display   : flex;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity   : 0.1;
}

.insights-btn {
  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;
}

.create-btn {
  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;
}

.settings-btn {
  display       : flex;
  flex-direction: column;

  align-items    : center;
  justify-content: center;
}

.SWAP-sidebar .nav-links {
  display        : flex;
  flex-direction : column;
  grid-gap       : 10px;
  height         : 100%;
  width          : 100%;
  justify-content: space-between;
  align-items    : center;
}

.SWAP-sidebar .bottom .nav-lnk {
  aspect-ratio   : 1/1 !important;
  display        : flex;
  width          : 100% !important;
  border         : solid 1px #ffffff00;
  border-radius  : 0.4em;
  transition     : all 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
  justify-content: center;
  align-items    : center;
  cursor         : pointer;
}

.SWAP-sidebar .bottom .nav-lnk:hover {
  border          : solid 1px #ebe7ff00;
  transition      : transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform       : translate(0, 0);
  background-color: #ffffff !important;
  border-bottom         : solid 3px #ac9eff !important;
}

.SWAP-sidebar .bottom .nav-lnk:active {
  background         : #f7f7ffa2 !important;
  background-position: center -100% !important;
  /* move the midpoint down by 30% */
  border             : solid 1px #d6d1f1 ;
}

#nFeed-lnk.active,
#Create-lnk.active {
  border-bottom         : solid 3px #5f50b228!important;
  border        : solid 1px #d6d1f1bb;
  transition      : transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform       : translate(0, 0);
  background-color: #ffffff34;
}

.nav-links span {
  display        : flex;
  width          : 100%;
  height         : 100%;
  flex-direction : column-reverse;
  grid-gap       : 10px;
  align-items    : center;
  justify-content: flex-end;
}

.nav-lnk span {
  display        : none;
  align-items    : center;
  justify-content: center;
  line-height    : 100%;
}

.nav-lnk:hover span {
  display: flex;
}

.SWAP-sidebar .bottom .lnk-ico .material-icons {
  font-size      : 36px;
  display        : flex;
  opacity        : 0.8;
  color          : #5b4ea7;
  justify-content: center;
  width          : auto;
}

.SWAP-sidebar .bottom .nav-lnk:hover .material-icons {
  opacity      : 0.7;
  color        : #5e50b2;
  margin-bottom: 4px;

  background             : linear-gradient(to bottom, #60dbb8, #44397e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SWAP-sidebar .bottom .nav-lnk:active .material-icons {
  opacity: 1;
  color  : var(--f7-theme-color);
}

.SWAP-navbar-wrapper {
  display       : flex;
  width         : auto;
  flex-direction: column;
  height        : 100%;
  z-index       : 999;
}

.SWAP-sidebar {
  display                   : flex;
  flex-direction            : column-reverse;
  position                  : static;
  width                     : auto;
  height                    : 100%;
  flex-direction            : column;
  align-items               : center;
  margin                    : 0px;
  border-radius             : 0px;
  background-color          : #edeaff;
  /* box-shadow             : 0px 1px 6px rgba(47, 29, 130, 0.15); */
  border-right : solid 1px #5f50b228;
  -webkit-backdrop-filter   : blur(25px);
  backdrop-filter           : blur(25px);
  z-index                   : 999;
  align-content             : center;
}

.top {
  display        : flex;
  width          : auto !important;
  height         : auto !important;
  padding        : 16px;
  border-bottom  : solid 1px #5f50b228;
  justify-content: center;
  align-items    : center;
}

.SWAP-sidebar .bottom {
  display: flex;

  flex-direction: column;
  width         : 100%;
  height        : 100%;
  padding       : 10px;
  align-items   : center;
  grid-gap      : 10px;
}

/* Create.css */

.create-Space {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  height         : 100%;
  /* border      : solid 1.5px #50b27630; */
}

.create-Space .surface-wrap {
  border-radius   : 0.5vw;
  /* box-shadow   : 0px 6px 20px 4px rgba(134, 105, 227, 0.095), 0px 2px 3px rgba(112, 98, 176, 0.05); */
  background-color: #ffffff;
  background-color: #c2b6ff46;
}

/* insight.css */

.insights-Space {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  height         : 100%;

  /* border: solid 1.5px #506ab230; */
}

.insights-Space .surface-wrap {
  border-radius   : 0.5vw;
  background-color: #ffffff;
}

/* mobile newsfeed layer  */

@media screen and (max-width: 333px) {
  .feed-scroll {
    padding: 6px !important;
  }

  .feed-wrapper {
    padding-top: 0px !important;
    gap        : 6px !important;
  }

  .N-Header {
    padding       : 6px !important;
    padding-bottom: 0px !important;
  }






}

@media (min-width: 200px) and (max-width: 1060px) {

  .surface-view {
    flex-direction: column;
  }

  .static-bar {
    display       : flex;
    flex-direction: row;
    height        : 100%;
    width         : 100%;
  }

  .newsfeed-Space .full-page {
    display       : flex;
    flex-direction: column;
  }

  .collapsable-comp {
    display        : none;
    position       : absolute;
    bottom         : 0;
    left           : auto;
    right          : 0;
    width          : auto;
    height         : auto;
    /* border      : solid 2px red; */
    align-items    : flex-end;
    justify-content: flex-start;
    margin-right   : 8px;
    margin-bottom  : 90px;
    overflow       : hidden;
  }

  .settings-modal {
    display         : flex;
    align-items     : flex-end;
    justify-content : center;
    background-color: #f7f7ff;
    border          : solid 1px #ffffff86;
    height          : 180px;
    width           : 150px;
    overflow        : hidden;
    position        : relative;
    left            : 150px;
    border-radius   : 10px;
    overflow        : hidden;
  }

  .settings-modal.shown {
    left: 0px;
  }



  .modal-btn {
    display: flex;
    width  : 100%;
  }

  .collapsable-comp .logout-button {
    padding      : 18px;
    border-radius: 0;
    width        : 100% !important;
    max-width    : 100% !important;
  }

  .SWAP-sidebar {
    display: flex;

    flex-direction: row;

    height: auto !important;

    border: solid 1px var(--v-lavender-plane);
    border-top: solid 1px #5f50b228;
  }

  .SWAP-sidebar .bottom {
    height    : auto !important;
    width     : 100%;
    overflow  : hidden;
    overflow-x: scroll;
  }

  .SWAP-sidebar .bottom .nav-lnk:hover .material-icons {
    margin-bottom: 2px;
    font-size    : 30px;
  }

  .top {
    width        : auto !important;
    height       : auto !important;
    padding      : 10px;
    border-bottom: solid 0px var(--v-lavender-plane);
    border-right : solid 1px #5f50b228;
  }

  .SWAP-navbar-wrapper {
    width : 100% !important;
    height: auto !important;

    /* create a liner gradient white botop top transparent*/

    background: linear-gradient(rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 100%);

    position: sticky;
    bottom  : 0;
  }

  .SWAP-sidebar .nav-links {
    flex-direction: row;
    gap           : 0px;
    width         : 100%;
  }

  .SWAP-sidebar .bottom .nav-lnk {
    height      : 60px !important;
    width       : auto !important;
    aspect-ratio: 1/1 !important;
  }

  .SWAP-sidebar .nav-lnk a {
    height      : 60px !important;
    width       : 60px !important;
    aspect-ratio: 1/1 !important;
  }

  .SWAP-sidebar .nav-links span {
    flex-direction: row;
    width         : 100% !important;
  }

  #hamburgSpan {
    display        : flex;
    width          : auto !important;
    height         : auto;
    justify-content: flex-end;
  }

  #linkSpan {
    display        : flex;
    flex-direction : reverse;
    width          : 100% !important;
    height         : auto;
    overflow       : hidden !important;
    overflow-x     : SCROLL !important;
    justify-content: flex-start;
    gap            : 20px;
  }

  /* newsfeed */
  .feed-wrapper {
    display       : flex;
    flex-direction: column-reverse;
    width         : 100%;
    height        : 100%;
    gap           : 12px;
  }

  .feed-scroll {
    padding    : 12px;
    padding-top: 0px;
  }

  .N-Header {
    padding       : 12px;
    padding-bottom: 0px;
  }

  .Quick-survey {

    display   : flex;
    overflow  : hidden;
    max-height: 60px;

  }

  .Newsfeed {
    display   : flex;
    max-height: 100%;
  }

  .newsfeed-Space {
    /* background-image: linear-gradient(180deg, #faf8ff 5%, #ffffff79 30%); */
  }

  .Newsfeed-Right .v-form-header {
    height : 60px;
    padding: 17px;
  }

  .feed-scrollHead .v-form-header {
    height : 60px;
    padding: 16px;
  }



}

@media (min-width: 0px) and (max-width: 200px) {
  .surface-view {
    display: none !important;
  }
}




/* Add your existing CSS code here */

/* Additional styling for the written survey */
#written-survey-content {
  border-radius: 0px;
  margin-top   : 0px;
  box-shadow   : 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#survey-title,
#survey-description,
#char-limit {
  /* Added styling for character limit select */
  width        : 100%;
  padding      : 10px;
  margin-bottom: 15px;
  font-size    : 16px;
}

#survey-description {
  height: 120px;
}

#char-limit {
  /* Adjusted styling for character limit select */
  height: 40px;
}

#submit-written-survey {

  font-size : 16px;
  cursor    : pointer;
  transition: background-color 0.3s ease;
  display   : flex;
  width     : 100%;

}

#multiple-choice-content {
  background-color: #f6f3ff00;
  box-shadow      : 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.survey-form {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : 100%;
  overflow      : hidden !important;
}

#written-survey-form .surv-top {
height: fit-content !important;

}

.surv-top {
  display       : flex;
  flex-direction: column;

  height : auto;
  width  : 100%;
  gap    : 10px;
  padding: 10px;
}


.surv-dwn {
  display         : flex;
  height          : fit-content;
  padding         : 10px;
  background-color: #edeaff;
  background-color: #edeaff5b;
  justify-content: space-between;
  gap:10px;
  /* flex-direction: row-reverse; */
}

/* .tab-content .surv-dwn{
  background-color: #edeaff5b;

} */

.survey-form label {
  opacity         : 0.8;
  font-size       : 14px !important;
  display         : flex;
  padding         : 4px;
  padding-left    : 10px;
  padding-top     : 4px;
  padding-bottom  : 4px;
  border          : 1px solid #ebe8ff;
  background-color: #f1f0fd !important;
  border-radius   : 8px 8px 0px 0px;
  /* color        : #ffffff; */
}

#opt-space {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* Use auto-fit to create as many columns as possible with a minimum width of 200px */
  grid-auto-rows       : 40px;
  /* Set the height of each row to 50px */
  grid-gap             : 10px;
  /* Add a gap between grid items */
  grid-auto-flow       : dense;
  /* Specify that grid items should be placed in dense packing order */
  width                : 100%;
  height               : 100%;
  padding              : 10px;
  border               : 1px solid #ebe8ff;
  border-top           : 0px;
  border-radius        : 0px 0px 10px 10px;
  background-color     : #2a665500 !important;
  margin-bottom        : 10px;
  overflow             : hidden;
}

#char-limit-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  /* Use auto-fit to create as many columns as possible with a minimum width of 200px */
  grid-auto-rows       : auto;
  justify-content: space-evenly;
  background-color: #f6f5ff;
  border: 1px solid #ebe8ff;
  border-radius: 0px 0px 10px 10px;
  height: auto;
  gap: 10px;
  padding: 10px;
}

.char-lmt-wrap {
  display       : flex;
  flex-direction: column;
  height        : auto;
}

#char-limit-section span {
  display        : flex;
  flex-direction : row-reverse;
  padding        : 0px;
  width          : 100%;
  border         : 1px solid #ebe8ff;
  border-radius  : 5px;
  justify-content: space-between;
  align-items    : center;
}

.radioo {
  display        : flex;
  height         : 100%;
  width          : auto;
  aspect-ratio   : 1/1;
  justify-content: center;
  align-items    : center;
}

#char-limit-section input {
  display        : flex;
  margin         : 0px !important;
  height         : 20px;
  aspect-ratio   : 1/1;
  justify-content: center;
  align-items    : center;

}

#char-limit-section span p {
  display        : flex;
  color          : #5c537b !important;
  font-family    : 'mulish', sans-serif;
  font-weight    : 600 !important;
  width          : 100%;
  padding        : 10px;
  align-items    : center;
  justify-content: center;
  border-right   : solid 1px #ebe8ff;
}



.opt-scroll {
  display : flex;
  height  : 100%;
  overflow: overlay;
}



.add-remove {
  display         : flex;
  width           : 100%;
  gap             : 10px;
  margin-bottom   : 0px;
  background-color: #f6f5ff;
  border          : 1px solid #ebe8ff;
  border-radius   : 0px;
  padding         : 10px;
  justify-content : center;
}

.add-remove .add-option,
.remove-option {
  border-radius  : 6px;
  display        : flex;
  justify-content: space-between;
}

#opt-space .remove-option {
  display        : flex;
  height         : 100%;
  width          : 40px;
  border-radius  : 0px 6px 6px 0px;
  justify-content: center;
  align-items    : center;
  font-size      : 24px;
}


.add-remove p {
  color      : #5e50b2;
  font-weight: 700;
  font-size  : 16px;
  font-weight: 700;
  padding    : 0px 8px;
}


.add-remove span {
  font-size: 23px;
  padding  : 0px 10px;
}

.opt-title {
  margin-bottom : 0px;
  padding-bottom: 4px !important;
}

.descript,
.Titl {
  display       : flex !important;
  flex-direction: column;
  height        : auto !important;
}

.survey-form .inpt::before {
  content         : "";
  display         : block;
  width           : 100%;
  height          : 1px;
  background-color: #ebe8ff;
  margin-bottom   : 10px;
  margin-right    : 5px;
}

  .survey-form textarea {
  width     : 100%;
  max-width : 100%;
  min-width : 100%;
  min-height: 42px;
  max-height: 80px;

  padding      : 10px;
  border       : 1px solid #ebe8ff;
  border-radius: 0px 0px 6px 6px;
  font-size    : 16px;

  overflow  : overlay;
  overflow-y: visible !important;
}

 .response-top #v-form-close{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: solid 1px #5e51b538;
  background-color: #f6f6ff !important;
  border-radius: 8px;
 }

 .response-top #v-form-close:active{
  background-color: #f6f6ff00 !important;
  border: solid 1px #5e51b500;
  opacity: .6;
 }








.survey-input,
.create-input {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  padding: 20px;
  border             : 1px solid #ebe8ff;
  border-radius      : 0px 0px 6px 6px;
  font-size          : 16px;
  /* background-color: #f6f5ff; */
  font-family        : 'mulish', sans-serif;
}

.option {
  display              : grid;
  grid-template-columns: 1fr auto;
  align-items          : flex-start;
  justify-content      : center;
  width                : 100%;
  height               : fit-content;
  background-color     : #ffffffa4;

}

.inpt input,
textarea,
#opt-space {

  background-color: #faf8ffd5;
}

.inpt input:hover,
textarea:hover {

  background-color: #faf8ff;

}

.options {
  display       : flex;
  height        : auto;
  width         : 100%;
  /* border     : solid 1px; */
  flex-direction: column;
  justify-content: flex-start;
}

.option-input {
  width        : 100%;
  height       : 100%;
  padding      : 10px;
  border       : 1px solid #ebe8ff;
  border-radius: 6px 0px 0px 6px;
  font-size    : 14px;
}


.add-option,
.remove-option {
  display         : flex;
  width           : 100%;
  padding         : 5px !important;
  border          : 2px solid #ebe8ff;
  background-color: transparent;
  cursor          : pointer;
  transition      : color 0.3s ease;
  justify-content : space-between;
  align-items     : center;
}

.add-option:hover,
.remove-option:hover {
  color           : #7e6cdf;
  border          : solid 2px #a8a0d1c2;
  background-color: #faf8ffd5;
}

.submit-survey {
  max-width: 100% !important;
  width        : 100% !important;
  border-radius: 10px !important;
  height: 100% !important;
  cursor: pointer;
}

.tab-content .submit-survey{
  background-color: #f7fffc;
  border: solid 1.6px #31776325;
}

.tab-content .submit-survey p{
  color: #3c7763 !important;
  font-weight: 700 !important;
}
.tab-content .submit-survey .material-symbols-outlined
{
  color: #3c7763 !important;
}

.tab-content .submit-survey:focus{

  border: solid 1.6px #449981 !important;

}

.tab-content .submit-survey:hover{
  background-color: #ebfcf7;
  border: solid 1.6px #31776391;
}

.tab-content .submit-survey:active{
background-image: linear-gradient(to top, #317763,  #317763);
border: solid 1.6px #317763;

}

.tab-content .submit-survey:active p, .tab-content .submit-survey:active .material-symbols-outlined{

color: #ebfcf7 !important;
border: solid 1px #317763 !important;
  
}



.v-back{
  display: flex;
  max-width: fit-content !important;
  width: fit-content !important;
  padding: 20px !important;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #e0dbfd;
  gap:10px;
  background-color: #ffffff;
}

.surv-dwn .step-button{
  padding-right: 20px !important;
}

.v-back:hover{
border: solid 1px #5e50b2 !important;
}


.v-back p{
  font-weight: 750;
  color      : var(--f7-theme-color-muted);
  white-space: nowrap;
}

.v-back:active p, 
.v-back:active .material-symbols-outlined {
    color: #ffffff !important;
}

.v-back .material-symbols-outlined{
  font-size: 30px !important;
  color    : var(--f7-theme-color-muted) !important;
  line-height: 70% !important;
}

.submit-survey p {
  color  : white;
  opacity: 1;
  font-weight: 600 !important;
}

.submit-survey .material-symbols-outlined {
  font-size: 24px !important;
}

/* Add any additional styles here */

@media (max-width: 500px) {
  tbody {
    grid-template-columns: 1fr !important;
  }
}