/* Track */
::-webkit-scrollbar-track {
  margin-top: 0px;
} 


body{
  font-family: "mulish";
}


.VLOGO{
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(../img/FAVI-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.VLOGO-wrapper{ 

  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.newsfeed-Space {
  display: flex;
  height: 100vh;
  width: 100%;
}

.surface-view{
  display: flex;
  flex-direction: row;
}



 /* asside bar */

.SWAP-sidebar .bottom a{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  width: 100% !important;
  aspect-ratio: 1/1;
  text-decoration: none;
  color: #362c6b;
  font-weight: 800;
  font-size: .77em;

}

.SWAP-sidebar .bottom .nav-links{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  height: 100%;
  width: 100%;

  aspect-ratio: 1/1;
  justify-content: space-between;
 }

.SWAP-sidebar .bottom .nav-lnk{
  display: flex;
  /* width:100%; */
  /* aspect-ratio: 1/1 !important; */
  border: solid 2px var(--f7-theme-color-light-0);
  border-radius: .4em;
  transition: all 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.SWAP-sidebar .bottom .nav-lnk:hover{
  border: solid 2px #9183e985;
}

.SWAP-sidebar .bottom .nav-lnk:active{
  background-color: #f1efff;
  border: solid 2px var(--f7-theme-color-light-0);
}

.nav-links span {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap:10px;
}

.nav-lnk span{
  display: none;
  align-items: center;
  justify-content: center;
  line-height: 100%;

}

.nav-lnk:hover span {
  display: flex;
}



.SWAP-sidebar .bottom a .material-icons {

  font-size: 36px;
  opacity: .7;
  color: #5977b5;
}

.SWAP-navbar-wrapper{
  display: flex;
  width: auto;
  flex-direction: column;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.SWAP-sidebar{
  
display: flex;
flex-direction: column-reverse;
  
position:static;
  
width: auto;
  
height: 100%;
  
flex-direction: column;
  
align-items: center;
}
.top{
  display: flex;
  width: 100px;
  aspect-ratio: 1/1 !important;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px var(--v-lavender-plane);
}

.SWAP-sidebar .bottom{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  padding: 10px;
  align-items: center;
  grid-gap: 10px
  
}


@media (min-width: 200px) and (max-width: 889px) {

  .surface-view{
    flex-direction: column-reverse !important;
  }

  .SWAP-sidebar{
   flex-direction: row !important;
  }

  .nav-links span{
    flex-direction: row;
    width: fit-content;
}

.nav-links{
  flex-direction: row !important;
}

.SWAP-sidebar, .SWAP-navbar-wrapper{

  width: 100%;
  height: fit-content !important;

}

.SWAP-navbar-wrapper{
  position: absolute;
  bottom: 0;
}

.SWAP-sidebar .bottom{
  height: 90px; 
  width: 100%;


}

.SWAP-sidebar .bottom .nav-lnk {

  aspect-ratio: 1/1 !important ;


}

.nav-lnk span {

  display: flex;
}


.top {

  height: 90px;
}

}



