/* Header-Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* bodyFont */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  margin: 0 !important;
  padding: 0px !important;
  /* font-family: "Silkscreen"; */
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
}
img {
  max-width: 100%;
}

.lazy{
  display: none;
  opacity: 0;
}

/* -- always have latter code on css-->*/

body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* F7-main-STYLES */
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.view,
.view-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.page,
.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.page-content {
  padding: 0rem;
}

.material-symbols-outlined {
  color: rgb(15, 2, 46);
  font-size: 2rem !important;
  font-weight: 900 !important;
  margin-right: 20px;
}

/* Typography */

p {
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: 'poppins';
}

.nav-title p{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--f7-theme-color);
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: 'poppins';
}



h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 800;
  color: var(--f7-theme-color);
  padding: 0px;
  margin: 0px;
}

/* navigation structure */


.navbar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 6px;
  margin: 0px;
  z-index: 999;
  background-image: linear-gradient(to top, #ffffff00 , #ffffff);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border: solid 2px rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 0px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 1px 6px rgba(47, 29, 130, 0.15);
  backdrop-filter: blur(27.5px);

}

.nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  aspect-ratio: 1 / 1;
  background-image: url(../img/VERAS-ICO.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-L{
  display: flex;
  align-items: center;
  grid-gap:6px;
  justify-content: flex-start;
  width: 100%;
}
.nav-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-R{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}


.v-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  /* background-image: url(../img/logo.png); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
}

.v-logo-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
}


/* components */

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height:60px;
  background-color: #ffffff00;
  border-radius: 8px;
  border: solid 2px var(--f7-theme-color);
  padding: 16px 24px; 

  color: var(--f7-theme-color);
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.0rem;
  width: fit-content;
  font-family: 'poppins';
  transition: 0.1s ease-in-out;
}

.nav-button:hover{
  background-image:linear-gradient(to left, #f7f6ff , #ffffff );
  cursor: pointer;
  border: solid 2px #c8c8e773;
  box-shadow: 0px 1px 4px rgba(48, 29, 130, 0.116);
  
}

.nav-button:active{
  background-image:linear-gradient(to top, #5e50b2 , #5e50b2);
  cursor: pointer;
  color: #ffffff;
  border: solid 2px var(--f7-theme-color);
}



/* page-content */

.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #e2ddff91;
  border-radius: 0px;
}


