/* Header-Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* bodyFont */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0px !important;
  /* font-family: "Silkscreen"; */
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.lazy {
  display: none;
  opacity: 0;
}

/* -- always have latter code on css-->*/

/* style scroll bar */

/* width */
::-webkit-scrollbar {
  display: flex;
  position: absolute !important;
  background-color: hsla(0, 0%, 9%, 0);
  width: 8px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  display: flex;
  background-image: linear-gradient(to top, #ffffff00, #ffffff00);
  box-shadow: 0 0 3px hsla(236, 15%, 35%, 0);
  border-radius: 10px;
  margin-top: 97px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: flex !important;
  background-color: #8a7fce6c;
  border-radius: 10px;
}

/* scroll-bar end */

body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* F7-main-STYLES */
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.view,
.view-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  /* overflow-y: scroll !important;
  overflow-x: hidden !important; */
  overflow-y: overlay;
  padding: 0px !important;
  scroll-behavior: smooth;
}

.page,
.page-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.page,
.page-current,
.page-homepage {
  position: relative;
}

.material-symbols-outlined {
  color: #8be9e9b7;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin: 0px;

  background-color: #85dcdc11;
  padding: 4px;
  border-radius: 4px;
}

/* Typography */

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: "poppins";
  color: #f7f6ff;
}

.nav-title p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--f7-theme-color);
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: "poppins";
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 800;
  color: var(--f7-theme-color);
  padding: 0px;
  margin: 0px;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

/* navigation structure */

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: fit-content;
  padding: 6px;
  margin: 0px;
  z-index: 999;
  background-image: linear-gradient(to top, #ffffff00, #ffffff);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border: solid 2px rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 0px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 1px 6px rgba(47, 29, 130, 0.15);
  backdrop-filter: blur(27.5px);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  aspect-ratio: 1 / 1;
  background-image: url(../img/VERAS-ICO.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-L {
  display: flex;
  align-items: center;
  grid-gap: 6px;
  justify-content: flex-start;
  width: 100%;
}
.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-R {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.v-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  /* background-image: url(../img/logo.png); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
}

.v-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
}

/* components */

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 60px;
  background-color: #ffffff00;
  border-radius: 8px;
  border: solid 2px var(--f7-theme-color);
  padding: 16px 24px;
  overflow: hidden;

  color: var(--f7-theme-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  width: fit-content;
  font-family: "poppins";
  transition: 0.1s ease-in-out;
}

.nav-button:hover {
  background-image: linear-gradient(to left, #f7f6ff, #ffffff);
  cursor: pointer;
  border: solid 2px #c8c8e773;
  box-shadow: 0px 1px 4px rgba(48, 29, 130, 0.116);
}

.nav-button:active {
  background-image: linear-gradient(to top, #5e50b2, #5e50b2);
  cursor: pointer;
  color: #ffffff;
  border: solid 2px var(--f7-theme-color);
}

/* footer */

.footer-Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #372c5b;
  width: 100%;
  z-index: 999;
}

.F-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 28px;
  grid-gap: 8px;
  border-bottom: solid 1px #554c7d;
}

.F-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  background-image: url(../img/VERAS-ICO-WHITE.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.F-contnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 28px;
  grid-gap: 28px;
}


.F-footer{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1611249a;
  width: 100%;
  padding: 28px;
  grid-gap: 28px;
}


.F-map {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 370px;
  height: fit-content;
  aspect-ratio: 2/1;
  background-image: url(../img/footer-map.svg);
  background-size: fill;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  overflow: hidden;
  border: solid 1px #554c7d;
}

.F-map-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  width: 100%;
  height: fit-content;
  padding: 6px;
  background-color: #161124;
  border-top: solid 1px #554c7d;
}

.F-LI-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: fit-content;
  padding: 10px 0px;
}

.F-LI-01 p {
  display: inline-flex;
  white-space: nowrap;
  line-height: 27.2px;
  cursor: pointer;
  width: fit-content;
}

.F-LI-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px 0px;
}

.F-LI-03 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
  height: 100%;
  padding: 10px 0px;
  padding-right: 10px;
  grid-gap: 28px;
}

.F-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: fit-content;
}

.set-header p {
  font-size: 0.9rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 27.2px;
}

.F-set ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
  padding: 0px;
  padding-top: 8px;
  margin: 0px;
}

.F-set ul li {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.F-set p {
  display: inline;
  white-space: nowrap;
  cursor: pointer;
}

.F-number,
.F-mail {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-gap: 8px;
  border: solid 1px #554c7d7a;
  border-radius: 5px;
}

.F-number-L,
.F-mail-L {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  grid-gap: 8px;
}

.F-number-L .material-symbols-outlined {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.F-mail-L .material-symbols-outlined {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#f-copy.material-symbols-outlined {
  background-color: #f7f6ff00;
}

.F-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border: solid 0px #554c7d00;
  grid-gap: 28px;
}

.social-ico {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  grid-gap: 8px;
}

.chip-ico {
  display: flex;
  width: 27.2px;
  height: 27.2px;
}

.fb {
  background-image: url(../img/facebook-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
}

.lkd-in {
  background-image: url(../img/linked-in-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}

/* action styles */

.F-chip {
  display: flex;
  transition: all 0.05s ease-in-out;
  transform: scale(1);
}

.F-chip:hover {
  cursor: pointer;
  background-color: #c8c8e718;
}

.F-chip:active {
  cursor: pointer;
  background-color: #85dcdc11;
  transform: scale(0.99);
}

.touched-pressed {
  display: flex;
  transition: all 0.05s ease-in-out;
  transform: scale(1);
}

.touched-pressed:hover {
  cursor: pointer;
  border: solid 0.1px #c8c8e723;
}

.touched-pressed:active {
  transform: scale(0.95);
  border: solid 0.01px #c8c8e725;
}

/* page-content */

.Veras-surface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #e2ddff91;
  border-radius: 0px;
  padding-top: 95.97px;
}
