/* Header-Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* bodyFont */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 !important;
  padding: 0px !important;
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

html{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  

  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 3080px;
  
  overflow: hidden;
  overflow-y: hidden !important;
}

/* .st-plane{
  background-color: rgba(239, 255, 15, 0.158)!important;
} */

img {
  max-width: 100%;
}

.lazy {
  display: none;
  opacity: 0;
}

/* -- always have latter code on css-->*/

/* splash-screen */

.v-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #e2ddffe1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  overflow: hidden;
}

.v-splash-min-dlplay-size {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #e2ddffe1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  overflow: hidden;
}

.v-splash-min-dlplay-size .v-logo-wrapper {
  grid-gap: 4px !important;
  height: fit-content;
}

.v-splash-min-dlplay-size .v-logo {
  width: 50px !important;
  height: 50px !important;
}


/* style scroll bar */

/* width */
::-webkit-scrollbar {
  display: flex;
  position: relative !important;
  background-color: hsla(0, 0%, 9%, 0);
  width: 8px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  display: flex;
  background-image: linear-gradient(to top, #ffffff00, #ffffff00);
  box-shadow: 0 0 3px hsla(236, 15%, 35%, 0);
  border-radius: 10px;
  margin-top: 96px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: flex !important;
  background-image: linear-gradient(
    to top,
    hsla(254, 35%, 30%, 0.2),
    hsla(254, 35%, 30%, 0.2)
  );
  border-radius: 10px;

  height: calc(100%/8) !important;
}

/* scroll-bar end */



.material-symbols-outlined {
  color: #8be9e9b7;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin: 0px;

  background-color: #85dcdc11;
  padding: 4px;
  border-radius: 4px;
}

/* Typography */

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: "poppins";
  color: #f7f6ff;
}

.nav-title p {
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--f7-theme-color);
  line-height: 1.2rem;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  font-family: "poppins";
  white-space: nowrap;
}

.nav-title p span {
  font-weight: 400;
  margin-left: 3px;
}

h1 {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  font-size: clamp(2.4rem, 2.7vw, 10rem);
  line-height: clamp(3.2rem, 3.7vw, 10rem);
  font-weight: 1000;
  color: var(--f7-theme-color-muted);
  padding: 0px;
  margin: 0px;
  /* border:solid #161124 1px; */

  text-align: flex-start;
}

h2 {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  font-size: clamp(1.7rem, 2.4vw, 9rem);
  line-height: clamp(1.9rem, 2.5vw, 8rem);
  font-weight: 800;
  color: var(--f7-theme-color-muted);

  padding: 0px;
  margin: 0px;
  /* border:solid #161124 1px; */
  text-align: flex-start;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  white-space: nowrap;
  line-height: 100%;
  font-size: clamp(1.4rem, 1.2vw, 4rem) !important;
  font-weight: 900;
  color: var(--f7-theme-color);
  padding: 0px;
  margin: 0px;
}
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 800;
  color: var(--f7-theme-color);
  padding: 0px;
  margin: 0px;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

/* navigation structure */

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: fixed;

  width: 100%;
  max-width: 3080px;
  min-height: fit-content;
  max-height: 100%;
  padding: 6px;
  padding-bottom: 0px;

  margin: 0px;
  z-index: 999;
  background-image: linear-gradient(
    to top,
    #ffffff00,
    #ffffff,
    #ffffff
  );
  
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border: solid 2px rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 0px;
  border-radius: 16px;
  background-color: #ffffffd0;

  box-shadow: 0px 1px 6px rgba(47, 29, 130, 0.15);
  backdrop-filter: blur(29px);

  z-index: 999;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  aspect-ratio: 1 / 1;
  /* background-image: url(../img/Veras\ logo-200.svg); */
  /* background-image: url(../img/Veras-logo-700-nav-logo.svg); */
  background-image: url(../img/Veras-logo-999-nav-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-L {
  display: flex;
  align-items: center;
  grid-gap: 6px;
  justify-content: flex-start;
  width: 100%;
}
.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-R {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.v-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  /* background-image: url(../img/logo.png); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
}

.v-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
}

/* contact-us-modal */

.contact-us-modal-wrapper {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0px;
  padding: 12px;
  width: 100vw;
  
  height: 100vh;
  background-image: linear-gradient(to bottom, #ffffffc6, #ffffff);
  border: solid 0px black;

  padding: 40px 0px;


  overflow: hidden;

 
}

.v-form-scrolls::-webkit-scrollbar-track {
  margin-top: 6px;
  margin-bottom: 6px;
  
}

.v-form-scrolls::-webkit-scrollbar {
  background-color: hsla(0, 0%, 9%, 0) !important;
}

.v-form-scrolls::-webkit-scrollbar-thumb{
  display: flex !important;
  background-image: linear-gradient(to bottom, #eae9f8, #f5f4ff) !important;
  border-radius: 10px;
  opacity: 0.5 !important;
}

.v-form-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
 
  height: 100%;
  max-width: 790px;

  border-radius: 10px;

  box-shadow: 4px 8px 48px rgb(47 29 130 / 10%);
  backdrop-filter: blur(29px);

  border: solid 1px #372c6b17;
  overflow: hidden;
  background-color: white;

}

.v-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5f4ff; */
  background-image: linear-gradient(to top, #ffffff, #f9f8ff);
  width: 100%;
  height: fit-content;
  padding: 20px;
  grid-gap: 20px;
  border-radius: 10px 10px 0px 0px;

  z-index: 999;

  box-shadow: 0px 0px 12px #c6bbff28;

}

.v-form-header .material-symbols-outlined {
  color: #5e50b2;
  font-size: clamp(1rem, 1.5rem, 5rem) !important;
  font-weight: 500 !important;
  margin: 0px;
  background-color: #372c6b00;
  /* border: solid 2px #372c6b17; */
  padding: 6px;
  border-radius: 6px;
}

.v-form-header p {
  color: #5e50b2;
  font-size: clamp(0.8rem, 1.1rem, 2rem);
  line-height: clamp(0.9rem, 1.4rem, 2rem);
  font-weight: 800;
  font-family: mulish;
}

.v-form {
  height: 100%;
  width: 100%;
}

.v-form-scrolls{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width:  100%;
  padding: 24px;




  overflow-y: scroll;

  overflow: overlay !important;
 
}

.v-form-header i {
  border: solid 1px #372c6b00;
  cursor: pointer;
}

.v-form-header i:hover {
  border: solid 1px #372c6b27;
}

.v-form-header i:active {
  border: solid 1px #372c6b17;
  background-color: #6955aa18;
}

/* components */

/* buttons */
.v-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 0px;
  grid-gap: 12px;
}
.v-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0px;
  grid-gap: 8px;
}

.v-bottom {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 0px;
  padding-right: 0px;
  grid-gap: 8px;
  border: solid 0px #5f50b200;
}

.v-bottom p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #5e50b2;
  font-size: 0.8rem;
  line-height: 1.2rem;
  width: 100%;
  font-weight: 450;
}

.v-btn-i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 72px;
  padding: 24px;

  font-family: poppins;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;

  color: #5e50b2;
  background-color: rgba(255, 255, 255, 0.658);
  border: solid 1px #5f50b256;
  border-radius: 8px;

  transition: all 0.1s ease-in-out;
}

.v-btn-i:hover {
  border: solid 1px #5f50b2bd;
  cursor: pointer;
  transition: all 0.01s ease-in-out;
  font-weight: 600;
  font-size: 1.5rem;
}

.v-btn-wrapper .v-btn-i:hover + .v-bottom {
  background-color: #5e50b2 !important;
}

.v-btn-i:active {
  border: solid 1px #5f50b234;
  cursor: pointer;
  background-color: #ffffff2d;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  scale: 0.95;
}

.v-button-filled .material-symbols-outlined {
  color: #f3ffffea;
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  margin: 0px;

  background-color: #85dcdc00;
  padding: 0px;
  border-radius: 4px;
}

.v-button-filled:hover .material-symbols-outlined {
  color: #5e50b2;
}

.v-button-filled:active .material-symbols-outlined {
  color: white;
}

.v-button-filled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #5e50b2;
  border-radius: 8px;
  border: solid 1px var(--f7-theme-color);
  padding: 20px 24px;
  overflow: hidden;

  grid-gap: 20px;

  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1rem;

  font-family: "poppins";
  transition: 0.05s ease-in-out;
}

a{
  display: flex;
  width: 100%;
}

.v-button-filled:hover {
  background-image: linear-gradient(to left, #f7f6ff, #ffffff);
  cursor: pointer;
  border: solid 1px #5f50b286;
  box-shadow: 0px 1px 4px rgba(48, 29, 130, 0.116);
  color: var(--f7-theme-color);
}

.v-button-filled:active {
  background-image: linear-gradient(to top, #5e50b2, #5e50b2);
  cursor: pointer;
  color: #ffffff;
  border: solid 1px var(--f7-theme-color);
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 60px;
  background-color: #ffffff0c;
  border-radius: 8px;
  border: solid 1px #5f50b227;
  padding: 16px 24px;
  overflow: hidden;

  color: var(--f7-theme-color);
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1rem;
  width: fit-content;
  font-family: "poppins";
  transition: 0.1s ease-in-out;
}

.nav-button:hover {
  background-image: linear-gradient(to left, #f7f5ff, #ffffff);
  cursor: pointer;
  border: solid 1px #5f50b2c7;
  box-shadow: 0px 1px 4px rgba(48, 29, 130, 0.082);
}

.nav-button:active {
  background-image: linear-gradient(to top, #5e50b2, #5e50b2);
  cursor: pointer;
  color: #ffffff;
  border: solid 1px var(--f7-theme-color);
}

.nav-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 60px;
  background-color: #ffffff0c;
  border-radius: 8px;
  border: solid 1px #5f50b227;
  padding: 16px 24px;
  overflow: hidden;

  color: var(--f7-theme-color);
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1rem;
  width: fit-content;
  font-family: "poppins";
  transition: 0.1s ease-in-out;

  background-image: linear-gradient(to top, #5e50b2, #5e50b2);
  cursor: pointer;
  color: #ffffff;
  border: solid 1px var(--f7-theme-color);
}

/* footer */

.footer-Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #372c5b;
  width: 100%;
  height: 100%;

}

.F-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 48px;
  grid-gap: 8px;
  border-bottom: solid 1px #554c7d;
}

.F-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-image: url(../img/Footer-logo-8.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.F-contnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 48px;
  grid-gap: 28px;
}

.F-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1611249a;
  width: 100%;
  height: 100%;
  padding: 28px 48px;
  grid-gap: 28px;
}

.F-map {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  min-width: 270px;
  height: 120px;

  aspect-ratio: 2/1;
  background-image: url(../img/footer-map.svg);
  background-size: cover;
  background-size: 110%;

  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  overflow: hidden;
  border: solid 1px #554c7d;
}

.F-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-gap: 28px;
  width: 100%;
  height: fit-content;
}

.F-map-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  width: 100%;
  height: fit-content;
  padding: 6px;
  background-color: #161124;
  border-top: solid 1px #554c7d;
}

.F-LI-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-gap: 16px;
  height: fit-content;
  width: fit-content;
  padding: 0px 0px;
}

.F-LI-01 p {
  display: inline-flex;
  white-space: nowrap;
  line-height: 27.2px;
  cursor: pointer;
  width: fit-content;
}

.F-LI-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-gap: 16px;
  height: fit-content;
  width: 100%;
  padding: 0px 0px;
}

.F-LI-03 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: fit-content;
  height: fit-content;
  padding: 0px 0px;
  padding-right: 0px;
  grid-gap: 28px;
}

.F-set {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.set-header p {
  font-size: 0.9rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 27.2px;
}

.F-set ul {
  display: flex;
  grid-gap: 2px;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
}

.F-set ul li {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.F-set p {
  display: inline;
  white-space: nowrap;
  cursor: pointer;
}

.F-set ul li p {
  font-size: 0.7rem;
}

.F-number,
.F-mail {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-gap: 8px;
  border: solid 1px #554c7d7a;
  border-radius: 5px;
}

.F-number-L,
.F-mail-L {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  grid-gap: 8px;
}

.F-number-L .material-symbols-outlined {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.F-mail-L .material-symbols-outlined {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#f-copy.material-symbols-outlined {
  background-color: #f7f6ff00;
}

.F-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  border: solid 0px #554c7d00;
  grid-gap: 28px;
}

.social-ico {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  grid-gap: 16px;
}

.chip-ico {
  display: flex;
  width: 27.2px;
  height: 27.2px;
}

.fb {
  background-image: url(../img/facebook-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
}

.lkd-in {
  background-image: url(../img/linked-in-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}

/* action styles */

.F-chip {
  display: flex;
  transition: all 0.05s ease-in-out;
  transform: scale(1);
}

.F-chip:hover {
  cursor: pointer;
  background-color: #c8c8e718;
}

.F-chip:active {
  cursor: pointer;
  background-color: #85dcdc11;
  transform: scale(0.99);
}

.touched-pressed {
  display: flex;
  transition: all 0.05s ease-in-out;
  transform: scale(1);
}

.touched-pressed:hover {
  cursor: pointer;
  border: solid 0.1px #c8c8e723;
}

.touched-pressed:active {
  transform: scale(0.95);
  border: solid 0.01px #c8c8e725;
}

/* page-content */

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;

}

.Veras-surface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100vh;
  margin: 0px;
  grid-gap: 0px;
  background-color: #e2ddff5d;
  border-radius: 0px;
  overflow: hidden;
  padding: 0px 0px;
}



/* v-Home */
.v-home {
  display: flex;
  padding: 0px !important;
  height: fit-content !important;
}

#v-home {
  display: flex;
}

.v-home-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* display: grid;
  place-items: left;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 20px; */

  border: solid 0px #29032e00;
  border-radius: 0px;
  height: fit-content;
  width: 100%;
  padding: 0px 0px;
  padding-top: 0px;

  overflow-y: visible;

  background-image: linear-gradient(
    to top,
    white,
    white,
    white,
    rgba(255, 255, 255, 0)
  );
}

.v-home-space::-webkit-scrollbar {
  display: none;
}

/* v-security */

.v-page-styled-header .Tagline h1 {
  flex-direction: column;
  font-weight: 900;
}

.v-page-styled-header .Tagline {
  align-items: center;
  flex-direction: row;
}

.v-security .v-page-styled-header .Tagline::before {
  display: flex;
  /* Set the content of the ::before pseudo-element */

  content: "";

  /* Position the ::before pseudo-element */
  position: relative;
  top: 0;
  left: 0;

  /* Set the background color and size */
  background-image: linear-gradient(to top, #ffffff, #ffffff);
  border: solid 2px #a7e7d5;
  border-radius: 50px;
  width: 6px;
  height: calc(100% / 1.2);

  margin-right: 48px;
}

.v-page-plane-style {
  overflow: hidden;
  overflow-y: auto;

  border-radius: calc((20px) + (2.5vw));

  width: 100%;
  min-height: 20vh;
  max-height: fit-content;
  border: solid 2px #f7f2fa;

  border: double 2px transparent;

  background-image: linear-gradient(white, white),
    linear-gradient(to top, #ffffff00, #c6adfb1d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.v-page-plane-cont {
  display: grid;
  place-items: center;
  justify-items: start;

  grid-gap: 2.5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text svg";
  margin: 2.5vw;
}

.v-page-plane :nth-child(2) .v-page-plane-cont {
  grid-template-areas: " svg text " !important;
}

.plane-style-header {
  display: flex;
}

.plane-styled-header {
  display: grid;
  grid-template-columns: auto;
}

.v-page-plane-text-header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  grid-gap: 2.5vw;
}

.plane-style-header h1 {
  line-height: 100%;
  font-size: clamp(1.4rem, 1.3vw, 4rem) !important;
  /* color: var(--f7-theme-color-muted); */
  color: #288369;
  font-weight: 750;
  opacity: 0.8;

  padding: 18px;
  background-color: #3caa8b16;
  border-radius: 20px;
}

.v-page-plane-cont::-webkit-scrollbar {
  display: flex;
  width: 8px;
  padding: 0px !important;
  margin: 0px !important;
}

.v-page-plane-cont::-webkit-scrollbar-track {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to top, #ffffff00, #ffffff00);
  box-shadow: 0 0 3px hsla(236, 15%, 35%, 0);
  border-radius: 10px;
  margin-top: 10px;
  margin: 10px !important;
}

.v-page-plane-cont-svg {
  grid-area: svg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  padding: 1vw;

  border: solid 0.3vw #5fa38f2b;
  border-radius: 2vw;

  box-shadow: 0px 6px 20px 4px rgba(134, 105, 227, 0.095),
    0px 2px 3px rgba(112, 98, 176, 0.05);
}

.v-page-plane-cont-text {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  grid-gap: 1.5vw;
}

.v-page-plane-cont-text h2 {
  color: #372c6b;

  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #288369,  #372c6b); */
}

.v-page-plane-text-style {
  grid-area: text;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  height: fit-content;
  margin-top: 0vw;
}

.v-page-plane-cont-text p {
  color: #554c7d;

  font-size: clamp(0.7rem, 1.4vw, 1.5rem);
  line-height: clamp(1rem, 2.4vw, 2rem);

  font-family: "mulish";
  font-weight: 600;
  padding-right: 9vw;
}

.svg-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  /* border-radius: calc((12px) + (9px)); */
  overflow: hidden;
  border: solid 0px rgb(255, 255, 255);
}

.v-highlight {
  display: none;
}
/* %%% */

.v-security {
  display: flex;
  padding: 0px !important;
  height: fit-content !important;
}

.v-security-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* display: grid;
  place-items: left;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 20px; */

  border: solid 0px #e100ff00;
  background-image: linear-gradient(to top, #ffffff, #ffffff, #ffffff);
  border-radius: 0px;
  height: fit-content;
  width: 100%;
  padding: 0px 0px;
  padding-top: 0px;

  overflow-y: visible;
}

.v-page-security-plane {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
  padding: 96px;
  grid-gap: 48px;
}

.v-page-security-plane-style {
  display: flex;
  flex-direction: column;
  border: solid 1px #554c7d2d;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 10px;
  grid-gap: 10px;
}

.v-page-security-plane-header {
  border: solid 0px rgba(0, 0, 0, 0);
  border-radius: 6px;
  padding: 3px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding-right: 10px;
  background-image: linear-gradient(to right, #60dbb828, #f1f9f7, #f1f9f7a6);
  /* background-color: #a7e7d5af; */
}

.v-page-security-plane-header h3 {
  color: #288369;
  font-family: "mulish";
  font-weight: 900;
  font-size: clamp(1rem, 1.2vw, 4rem) !important;
}

.v-page-security-paragraph p {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  font-size: clamp(1rem, 1.4vw, 1rem);
  line-height: clamp(1.3rem, 1.7vw, 1.4rem);
  color: var(--f7-theme-color-muted);
  font-family: "mulish";
  font-weight: 600;
  margin-left: 0;
  padding-right: 1vw;
}

.v-page-security-paragraph p span {
  display: flex;
  flex-direction: column;
}

.v-page-security-plane-header i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}

.v-page-security-plane-header .material-symbols-outlined {
  font-size: 1.8rem !important;
  font-weight: 1000 !important;
  background-color: white;
  color: #318a71;
  width: 40px;
  height: 40px;
}

.v-product {
  display: flex;
  padding: 0px !important;
  height: 100% !important;
}

.v-product .v-bottom {
  display: flex;
}

.v-product .v-bottom P {
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.v-product .v-page-CTA {
  grid-gap: 20px;
  padding: 138px 48px !important;
  height: fit-content;
}

.v-product-space .v-page-styled-header .Tagline h1 {
  flex-direction: column;
  font-size: clamp(2.4rem, 2.99vw, 10rem);
  line-height: clamp(3.2rem, 3.8vw, 10rem);
}

.v-product .v-btn-wrapper {
  flex-direction: column-reverse;
  grid-gap: 20px;

  padding-left: 60px;
}

.v-product-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* display: grid;
  place-items: left;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 20px; */

  border: solid 0px #e100ff00;
  /* background-image: linear-gradient(to top, #f5fffc, #ffffff, #ffffff); */
  border-radius: 0px;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  padding-top: 0px;

  overflow-y: visible;
}

.v-product .v-page-styled-header {
  width: 100% !important;
  background-image: none;
  border: none;
  padding: 0px;
}

.v-product .v-page-styled-header .Tagline::before {
  /* Set the content of the ::before pseudo-element */

  content: "";

  /* Position the ::before pseudo-element */
  position: relative;
  top: 0;
  left: 0;

  /* Set the background color and size */

  border: solid 2px #9cd7c6;
  background-color: #fcfffe;
  border-radius: 50px;
  width: 6px;
  height: calc(100% / 1.2);

  margin-right: 48px;
}

.v-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0px #554c7d05;
  border-radius: 0px;
  height: 100vh;
  width: 100%;
  padding: 0px 16px;
}

.v-page-CTA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  grid-gap: 40px;
  border: solid 0px rgba(0, 0, 0, 0);

  padding: 184px 96px 184px 96px;
}

#vFstFrame {
  display: flex;
  width: 100%;
  height: fit-content;
}

.v-page-styled-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  grid-gap: 40px;
  border: solid 1px #51b39733;
  background-image: linear-gradient(to right, #83e6cf17, #ffffff);
  /* background-image: url(../img/data.jpg); */
  background-size: cover;
  background-position: center;
  padding: 96px 48px;
}

.v-page {
  display: flex;
  /* grid-column: 1/13;
  grid-row: span 1; */
}

.v-page-plane {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
  background-color: #ffffff00;
  padding: 0px 96px;
  padding-bottom: 96px;
  grid-gap: 96px;
}

.Tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-content: center;
}

h1 span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h2,
p span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* container queries */

/* styles for desktop devices */
@media (min-width: 890px) {
  /* your styles go here */
}

/* styles for tablet devices */
@media (min-width: 580px) and (max-width: 889px) {
  /* your styles go here */

  /* form */
  .contact-us-modal-wrapper {
    padding:  clamp(5%, 5%, 10%);
  }


  

  /* v-planes */

  .v-page-plane-cont-text p {
    width: fit-content;
    padding-right: 30vw;
  }

  .v-page-plane-cont-text {
    margin-left: 18px;
    grid-gap: 2.5vw;
  }

  /* product */

  .v-product-space {
    height: 80vh;
    justify-content: center;
  }

  .v-product {
    height: fit-content !important;
  }

  .v-product .v-bottom {
    display: flex;
  }

  .v-product .v-bottom P {
    font-size: 1.05rem;
    line-height: 1.5rem;
  }

  .v-product .v-page-CTA {
    grid-gap: 20px;
    padding: 96px 48px;
    padding-right: 96px !important;
    width: 100%;
    height: fit-content;
  }

  .v-product-space .v-page-styled-header .Tagline h1 {
    font-size: clamp(2rem, 2vw, 10rem);
    line-height: clamp(2.5rem, 3.8vw, 10rem);
  }

  .v-product .v-btn-wrapper {
    flex-direction: column-reverse;
    grid-gap: 20px;

    padding-left: 60px;
  }

  /* security */

  .v-page-security-plane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #ffffff00;
    padding: 48px;

    grid-gap: 28px;
  }

  .v-page-security-plane-header h3 {
    font-size: clamp(1.7vw, 1.5rem, 1.2rem);
    line-height: 1.4rem;
  }

  .v-page-security-paragraph p {
    font-size: clamp(1rem, 1.7vw, 1.1rem);
    line-height: clamp(1.2rem, 1.7vw, 1.4rem);
  }

  .v-page-styled-header {
    padding: 96px 48px;
  }

  /* CTA */

  .Tagline {
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  .h1 {
    width: 100%;
    font-size: clamp(1.96rem, 4.8vw, 3rem);
    line-height: clamp(1.96rem, 6.7vw, 5rem);
    font-weight: 1000;
    padding: 0px;
    margin: 0px;

    justify-content: flex-start;
    align-items: flex-start;
  }

  h1 span {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #372c5b00;
  }

  .v-page-CTA {
    grid-gap: 30px;
    padding: 144px 48px 48px 48px;
    width: fit-content;
    align-items: flex-start;
  }

  .v-page-plane {
    display: flex;
    flex-direction: column;
    padding: 18px 48px;
    padding-bottom: 48px;
    grid-gap: 48px;
  }

  /* plane styles */

  .v-page-plane-cont {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 2.5vw;
  }

  .v-page-plane-cont-text p {
    color: #554c7d;
    font-size: clamp(0.7rem, 2.2vw, 3rem) !important;
    line-height: clamp(1rem, 3.1vw, 9rem) !important;
    font-family: "mulish";
    font-weight: 600;
  }

  .v-page-plane-text-style {
    margin-bottom: 0px;
    margin: 2vw 0vw;
  }

  /* Buttons */

  /* Footer */

  .F-contnt {
    flex-direction: column-reverse;
    justify-content: center;
    height: fit-content !important;
  }

  .F-center {
    grid-gap: 1.5em;
  }

  .F-links {
    grid-gap: 1.5em;
  }

  .F-LI-01,
  .F-LI-02,
  .F-LI-03 {
    padding-top: 0px;
  }

  .F-map {
    width: 100%;
    height: 200px;
  }

  .F-LI-01 p {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }

  .F-LI-03 {
    grid-gap: 1.5em;
  }

  .F-set p {
    font-size: clamp(0.9rem, 2vw, 1rem);
  }

  p {
    font-size: clamp(0.9rem, 2vw, 1rem);
  }

  .F-set ul li p {
    font-size: clamp(0.7rem, 1vw, 1rem);
  }

  .F-chip p {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
}

/* styles for mobile devices */
@media (min-width: 369px) and (max-width: 579px) {
  /* your styles go here */

  /* form */
  .contact-us-modal-wrapper {
    padding:clamp(5%, 5%, 10%);

   


  }

 
  

  .nav-logo {
    width: 46px;
    height: 46px;
  }

  .v-security .v-page-styled-header .Tagline::before {
    margin-right: 20px;
    width: 4px;
  }

  .v-product .v-page-styled-header .Tagline::before {
    margin-right: 20px;
    width: 4px;
  }

  .v-page-styled-header {
    padding: 36px 18px;
  }

  /* product */

  .v-product-space {
    height: fit-content;
  }

  .v-product {
    height: 100% !important;
    justify-content: center;
  }

  .v-product .v-bottom {
    display: flex;
  }

  .v-product .v-bottom P {
    font-size: clamp(0.9rem, 1.7vw, 1.03rem);
    line-height: clamp(1.4rem, 1.7vw, 1.4rem);
  }

  .v-product .v-page-CTA {
    grid-gap: 20px;
    padding: 180px 18px !important;
    padding-right: 18px !important;
    width: 100%;
  }

  .v-product-space .v-page-styled-header .Tagline h1 {
    font-size: clamp(1.6rem, 5vw, 7rem) !important;
    line-height: clamp(2.1rem, 3.8vw, 10rem) !important;
  }

  .v-product .v-btn-wrapper {
    padding-left: 28px;
    padding-right: 28px;
  }

  /* security */

  .v-page-security-plane {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: fit-content;
    background-color: #ffffff00;
    padding: 18px;
    padding-bottom: 28px;

    grid-gap: 28px;
  }

  .v-page-security-plane-header h3 {
    font-size: clamp(1.7vw, 1.5rem, 1.1rem);
    line-height: 1.5rem;
  }

  .v-page-security-paragraph p {
    font-size: clamp(1rem, 1.7vw, 1.03rem);
    line-height: clamp(1.4rem, 1.7vw, 1.4rem);
  }

  /* CTA */

  .v-page-CTA {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 120px 18px;
    padding-bottom: 30px;
  }

  .Tagline {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  h1 {
    width: 100%;
    font-size: clamp(1.6rem, 7vw, 2.5rem);
    line-height: clamp(2rem, 9vw, 5rem);
    font-weight: 1000;
    padding: 0px;
    margin: 0px;

    border: 0px rgba(0, 0, 0, 0) solid;
  }

  h1 span {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #b88a6500;
  }

  .v-page-plane {
    display: flex;
    flex-direction: column;
    padding: 18px 18px;
    grid-gap: 18px;
  }

  /* plane styles */

  .v-page-plane-cont {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 48px;
  }

  .v-page-plane-cont-text {
    padding: 0px 18px;
    grid-gap: 3vw;
  }

  .v-page-plane-cont-text p {
    color: #554c7d;
    font-size: clamp(1rem, 2vw, 2rem) !important;
    line-height: clamp(1.3rem, 1.7vw, 3.8rem) !important;
    font-family: "mulish";
    font-weight: 600;
    padding-right: 3vw;
  }

  .v-page-plane-text-style {
    margin-bottom: 0px;
  }

  .v-page-plane-text-header-wrapper {
    grid-gap: 6vw;
  }

  /* Buttons */

  .nav-button,
  .nav-title p {
    font-size: clamp(0.9rem, 2.5vw, 4.5vw);
  }

  .v-button-filled {
    width: 100%;
    height: fit-content;
    padding: 17px 17px;
  }

  .v-btn-i {
    width: 61.59px;
    height: 61.59px;
  }

  .v-page-CTA {
    grid-gap: 30px;
  }

  /* ///// */

  .F-center {
    justify-content: space-between;
    flex-direction: column;
  }

  .F-header {
    padding: 18px;
  }

  .F-contnt {
    display: flex;
    flex-direction: column-reverse;
    padding: 18px;
  }

  .F-links {
    width: 100%;
  }

  .F-map {
    width: 100%;
    height: 50vw;
  }

  .F-footer {
    padding: 18px;
  }

  .F-footer p {
    font-size: 3vw;
  }
}

/* styles for smallmobile devices */

@media (min-width: 200px) and (max-width: 369px) {
  /* your styles go here */

  /* form */
  .contact-us-modal-wrapper {
    padding:clamp(5%, 5%, 10%);
    padding-bottom: 40px !important;
  
  }


  

  .v-security .v-page-styled-header .Tagline::before {
    margin-right: 10px;
    width: 4px;
  }

  .v-product .v-page-styled-header .Tagline::before {
    margin-right: 8px !important;
    width: 4px;
  }

  .v-page-styled-header {
    padding: 36px 18px;
  }

  /* product */

  .v-product-space {
    height: 100%;
    min-height: 100% !important;
  }

  .v-product {
    height: fit-content !important;
    justify-content: center;
  }

  .v-product .v-bottom {
    display: flex;
  }

  .v-product .v-bottom P {
    font-size: clamp(0.7rem, 1.9vw, 2rem) !important;
    line-height: clamp(0.9rem, 1.7vw, 3.8rem) !important;
  }

  .v-product .v-page-CTA {
    grid-gap: 18px;
    padding: 96px 8px !important;
    padding-right: 18px;
    width: 100%;
  }

  .v-product-space .v-page-styled-header .Tagline h1 {
    font-size: clamp(1.6rem, 5.3vw, 10rem);
    line-height: clamp(2.1rem, 3.8vw, 10rem);
  }

  .v-product-space .v-page-styled-header .Tagline h1 span {
    white-space: pre-wrap;
  }

  .v-product .v-btn-wrapper {
    padding-left: 14px;
    padding-right: 14px;
    grid-gap: 18px !important;
  }

  /* security */

  .v-page-security-plane {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: fit-content;
    background-color: #ffffff00;
    padding: 8px;
    padding-bottom: 8px;

    grid-gap: 16px;
  }

  .v-page-security-plane-header {
    grid-gap: 6px;
  }

  .v-page-security-plane-header h3 {
    font-size: clamp(0.9rem, 7vw, 5rem);
    line-height: clamp(0.99rem, 8.7vw, 5rem);
  }

  .v-page-security-paragraph p {
    font-size: clamp(0.7rem, 1.9vw, 2rem) !important;
    line-height: clamp(0.9rem, 1.7vw, 3.8rem) !important;
  }

  .v-page-security-plane-header .material-symbols-outlined {
    font-size: 1rem !important;
    font-weight: 1000 !important;
    background-color: white;
    color: #318a71;
    width: 20px;
    height: 20px;
  }

  /* CTA */

  ::-webkit-scrollbar {
    display: flex;
    position: relative !important;
    background-color: hsla(0, 0%, 9%, 0);
    width: 4px;
    height: 100%;
  }

  .v-page-CTA {
    width: 100%;

    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vw 8px;
    padding-top: 96px;
    padding-bottom: 30px;
  }

  .Tagline {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  h1 {
    white-space: nowrap;
    width: 100%;
    font-size: clamp(0.9rem, 7vw, 5rem);
    line-height: clamp(0.99rem, 8.7vw, 5rem);
    font-weight: 1000;

    margin: 0px;
    border-radius: 12px;

    border: 0px rgba(0, 0, 0, 0) solid;
  }

  h2 {
    font-size: clamp(1rem, 8.1vw, 7rem) !important;
    line-height: clamp(1rem, 8.7vw, 9rem) !important;
  }

  .plane-style-header h1 {
    line-height: 100%;
    font-size: clamp(0.9rem, 1.3vw, 4rem) !important;
    /* color: var(--f7-theme-color-muted); */
    color: #288369;
    font-weight: 750;
    opacity: 0.8;
    padding: 9px;
    background-color: #3caa8b16;
    border-radius: 9px;
  }

  h1 span {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #b88a6500;
  }

  .v-page-plane {
    display: flex;
    flex-direction: column;
    padding: 8px;
    grid-gap: 18px;
  }

  .v-page-plane-style {
    border-radius: calc((8px) + (9px));
  }
  /* plane styles */

  .v-page-plane-cont {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 24px;
  }

  .v-page-plane-cont-text {
    padding: 0px 9px;
    grid-gap: 5vw;
  }

  .v-page-plane-cont-text p {
    color: #554c7d;
    font-size: clamp(0.7rem, 4vw, 9rem) !important;
    line-height: clamp(1rem, 5.3vw, 9rem) !important;
    font-family: "mulish";
    font-weight: 600;
    padding-right: 3vw;
  }

  .v-page-plane-text-style {
    margin-bottom: 0px;
  }

  .v-page-plane-text-header-wrapper {
    grid-gap: 6vw;
  }

  /* navbar */

  .nav-logo {
    width: 40px;
    height: 40px;
  }

  .nav-L {
    grid-gap: 0px;
    width: fit-content;
  }

  .nav-title p {
    display: none;
    transition: all 1s ease-in-out;
  }

  /* Buttons */

  .nav-button {
    width: fit-content;
    padding: 18px 7vw;
    height: 100%;
  }

  .nav-button,
  .nav-title p {
    font-size: clamp(0.7rem, 4vw, 8vw);
    line-height: clamp(0.7rem, 4vw, 8vw);
  }

  .v-button-filled {
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: fit-content;
    padding: 12px;
    font-size: clamp(0.7rem, 4.5vw, 8vw);
    line-height: clamp(0.7rem, 6vw, 8vw);
  }

  .v-button-filled .material-symbols-outlined {
    font-size: 16px !important;
  }

  .v-btn-i {
    width: 44px !important;
    height: 44px;
    font-size: 1.5rem;
    line-height: 100%;
    padding: 0px 14px;
    color: #554c7db9;
    font-weight: 500;
  }

  .v-page-CTA {
    grid-gap: 16px;
    padding-bottom: 18px;
  }

  /* ///// */

  h5 {
    font-size: clamp(0.7rem, 4.5vw, 8vw);
    line-height: clamp(0.7rem, 6vw, 8vw);
  }

  p {
    font-size: clamp(0.7rem, 4.5vw, 8vw) !important;
    line-height: clamp(0.7rem, 6vw, 8vw) !important;
  }

  .F-center {
    justify-content: space-between;
    flex-direction: column;
  }

  .F-header {
    padding: 16px;
  }

  .F-logo {
    width: 24px;
    height: 24px;
  }

  .F-contnt {
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
  }

  .F-links {
    flex-direction: column;
    width: 100%;
  }

  .F-map {
    width: 100%;
    height: 50vw;
    min-width: 100% !important;
  }

  .F-footer {
    padding: 16px;
  }

  .F-footer p {
    font-size: clamp(0.6rem, 3vw, 9vw) !important;
    line-height: clamp(0.9rem, 6vw, 8vw) !important;
  }

  .F-set ul {
    grid-gap: 3px;
  }

  .F-set ul p {
    font-size: clamp(0.7rem, 4vw, 9vw) !important;
    line-height: clamp(0.7rem, 6vw, 8vw) !important;
  }

  .set-header {
    margin-bottom: 4px;
  }

  .set-header p {
    font-size: clamp(0.7rem, 4.8vw, 9vw) !important;
    line-height: clamp(0.7rem, 6vw, 8vw) !important;
  }

  .F-LI-03 {
    grid-gap: 24px;
  }
}

/* styles for smallallestmobile devices */
@media (min-width: 1px) and (max-width: 199px) {
  
  .footer-Contents {
    display: none !important;
  }

  .v-splash-min-dlplay-size {
    display: flex;
  }

  .v-splash-min-dlplay-size .v-logo-wrapper h4 {
    font-size: 0.8rem !important;
    line-height: 100% !important;
  }
}



:root {
  --f7-theme-color: #5e50b2;
  --f7-theme-color-muted: #362c6b;
  --f7-theme-color-rgb: 190, 179, 255;
  --f7-theme-color-shade: #372C5B ;
  --f7-theme-color-tint: #241D3C;

  --f7-2ndry-theme-color: #60DBB8;
  --f7-2ndry-theme-color-muted: rgb(106 189 165);
  
  --f7-2ndry-theme-color-rgb: 154, 255, 226;
  --f7-2ndry-theme-color-shade: #3caa8b ;
  --f7-2ndry-theme-color-tint: #2a6655 ;
}
